[2013-01-17 21:45] webframp opened #2 "Retina Support"
"A launch image named "Default-568h@2x.png" is required to run at native resolution on Retina 4 devices."

Non-code work, added for tracking

[2013-01-18 03:52] systole opened #5 "the MobileOrg-TEST dropbox key has run out of users"
Dropbox limits the amount of users who can use the key while in dev mode.  Whoever owns the dropbox key should be able to add new users.

This issue is also tracking all discussion for work on dropbox api v1 changes

[2013-01-18 22:37] notestaff opened #9 "TODO items"
In the original MobileOrg, TODO items could only be added in a flat list, and then had to be refiled.  It would be much better if you could add items in the proper place in their hierarchy.  Also be able to change item state, and have it sync with the corresponding item in the original file.  Maybe the git merge driver work from GSOC could be relevant here?

It would also be useful to be able to s

[2013-02-02 20:01] russellmcc opened #11 "DropBox v1 branch doesn't support syncing immediately after logging in."
Recipe:
1. unlink dropbox account
2. press the log-in button, authenticate
3. switch to outline tab and hit sync

Expected: sync occurs
Actual: 401 auth failed error

This is because the DBRestClient object needs to get reallocated when we change user auths.

[2013-02-02 20:34] #11 closed, assigned to nobody

[2013-02-02 23:09] #5 closed, assigned to nobody

[2013-02-07 16:49] mankoff opened #13 "Error downloading checksums"
As of a week or two ago I cannot sync MobileOrg. I get the following error:

[code]

I have upgraded from iOS 5.0.1 to the latest 6.1 but the error still persists.

[2013-02-09 14:24] mankoff opened #14 "Feature Request: Option for "Open in Capture Mode""
Currently when launching MobileOrg it defaults to Outline Mode. It would be nice to have an option to open by default in Capture Mode.

[2013-02-09 14:25] mankoff opened #15 "Feature Request: More Prominent Sync Button"
The sync button can only be found by going to Outline View and even then only when viewing the top level of the outline, a.k.a index.org. It is small, top right corner, and not ubiquitous.

It would be nice to have the sync button feature on the bottom row, large, and always present.

[2013-02-11 22:01] vermiculus opened #16 "Feature request: agenda support"
It would be cool to implement a daily/weekly agenda view. More of a note-to-self, but Ireland time is ahead of the States so I thought I'd put the idea out there.

I'll flesh this out in a few hours.

[2013-02-12 00:27] #16 closed, assigned to nobody

[2013-02-12 11:21] vermiculus opened #17 "[Build] Cocoa API Issue - stringWithString"
An insignificant portion of warnings generated from building the project as it is are of the form

Is there a reason that this construct pops up throughout the source?  Is it in place to more easily support future localization/customization via actual `NSString`s, or is this some Objective C idiom I haven't come across before, or what?

I'd be happy to go through an make all the necessary changes

[2013-02-12 12:18] vermiculus opened #18 "`notesCount` not updating correctly (for the app-badge-icon)"
1. Create a new note, put whatever you want in it, and return to the notes view.
2. Delete the note.
3. The app badge does not decrement to reflect the deletion.

I've looked through the code for the `noteCount` updating (Classes/Capture/`NoteListController`/`-(void)refreshData`), but I can't make sense of the code inside `CountLocalNotes()` (in `DataUtils`)

[2013-02-12 12:19] vermiculus opened #19 "Empty Note counts as Note"
It should also be noted that an empty note still counts as a note.  It still has a timestamp on it, so it could have a use to quite a few people, so I'm not sure whether to fix this or not.

Is this desired functionality, or an annoyance?

[2013-02-25 01:14] #14 closed, assigned to nobody

[2013-02-25 07:31] #19 closed, assigned to nobody

[2013-03-03 01:57] systole opened #23 "Feature Request: SSH Sync"
One of the features I am hoping to work on once the initial app is released is the ability to sync via SSH in addition to Dropbox and WebDav.

[2013-04-10 00:31] webframp opened #24 "MobileOrg back in App Store"
I'm working on this now, my testing has been enough to at least get the app back and available in the store.

[2013-04-10 04:04] #13 closed, assigned to nobody

[2013-04-10 04:06] webframp opened #25 "Time tracking"
Time tracking, like org-modefeature, as mentioned in #9

[2013-04-10 16:04] webframp opened #26 "Move license to GPLv3"
Opening an issue to allow for discussion. Org-mode uses GPLv3, http://orgmode.org/cgit.cgi/org-mode.git/tree/COPYING

Could we also? For a description of why: https://www.gnu.org/licenses/rms-why-gplv3.html

Despite the basic incompatibilities of the App Store and the GPL, the legal issues are Apple's and under the current license the same risk of getting pulled from the store at Apple's discretio

[2013-04-17 05:09] 0-wiz-0 opened #27 "iPhone 5 support"
Please make use of the bigger screen the iPhone 5 supports.
https://developer.apple.com/library/ios/#documentation/UserExperience/Conceptual/MobileHIG/IconsImages/IconsImages.html#//apple_ref/doc/uid/TP40006556-CH14-SW5
says that (among others)
"For apps that run on iPhone 5 and iPod touch (5th generation), create a launch image that measures 640 x 1136 pixels."

[2013-04-17 11:43] brabalan opened #28 "Dropbox documentation change: MobileOrg folder is created in Dropbox/Apps"
The documentation at http://mobileorg.ncogni.to/doc/getting-started/using-dropbox/ should be changed to say that the MobileOrg folder is created under the Apps subfolder in the Dropbox folder.

[2013-04-17 15:32] webframp opened #29 "Not able to sync"
Reported by @rahuljha and @Agagarin:

Not able to sync, I keep getting:
##

Error downloading checksums

An error was encountered while downloading checksums.dat from the server. This file isn't required, but the error received was unusual. The error was:

Unexpected error

[2013-04-17 15:34] #24 closed, assigned to webframp

[2013-04-17 20:22] #29 closed, assigned to nobody

[2013-04-17 21:05] #27 closed, assigned to nobody

[2013-04-23 18:42] 0-wiz-0 opened #31 "Syncing loses time information"
When I "Capture" a note in mobileorg and then sync it, the entry time is weirdly modified. Usually to 1999.
Attached are two example screenshots, directly before and after a webdav-sync (I think I left the sync screen and went back to it). As you can see, the date of the upper entry was changed from 2013-04-23 to 1999-12-28, but the time stayed the same.
![before](https://f.cloud.github.com/assets

[2013-04-26 02:43] howardabrams opened #32 "Error syncing changes"
After setting up Mobileorg to sync with Dropbox (and giving it access), clicking the Sync button on the Outlines view comes up with an error:

Of course, mobileorg.org isn't responding to normal HTTP requests.

Thanks for bringing this back from the dead.

[2013-04-29 15:20] mankoff opened #33 "Capture mode shortcuts"
In capture mode, add some buttons to top bar.

D inserts DEADLINE:
S SCHEDULED:

And a calendar that inserts the &lt;date&gt; at the current text insertion point.

[2013-05-04 20:49] webframp opened #34 "Increase Font size in editor view"
Enhancement request from Marvin Doyley

[2013-05-08 15:37] clayote opened #35 "non editing views not retain line breaks during word wrap"
This bug is observed in version 0.98 from F-Droid.

When I turn word wrap on, lines I had deliberately left empty as paragraph separators are no longer visible in any of my notes. They reappear when I am in the process of editing the note, but disappear when I save.

[2013-05-10 18:45] #35 closed, assigned to nobody

[2013-05-11 23:21] AshtonKem opened #36 "Checkboxes"
Currently checkboxes in lists are simply represented as text. It'd be nice if these were ... checkable.

[2013-05-11 23:55] AshtonKem opened #37 "Respect #+TODO: Tag"
The state options in mobile org don't appear to sync with my #+ TODO: settings.

[2013-05-12 09:27] mankoff opened #38 "Change time stamp presentation"
The time stamp should have a toggle pref to turn it off OR appear in the text field so we can delete it OR be placed in the PROPERTIES: section and labeled CREATION_DT or something like that.

[2013-05-17 15:04] russphelan opened #39 "ApplicationNotCompatible error under IOS 6.0.1, iPhone and iPad"
Attempting to download MobileOrg from app store on either device results in an ix.ApplicationNotCompatible.WarningTitle pop-up box, containing an ix.ApplicationNotCompatible.SoftwareUpdateDescription message.

[2013-05-19 19:30] 0-wiz-0 opened #40 "Editor window: always show cursor"
When capturing new content, the window always displays the first n lines, even if more lines have been entered than fit on the screen. This means for longer entries you woulnd't see what you type because it's hidden by the onscreen keyboard.

You can of course say "don't do that" but I'd prefer an editor window where the cursor is always visible :)

[2013-06-10 09:40] yaoweizhen opened #41 "Is a plan for cross platform like Android?"
I know the phonegap(phonegap.com) is for this purpose. But maybe all code will be rewrote.

[2013-06-10 13:58] #41 closed, assigned to nobody

[2013-06-23 01:53] bmonreal opened #43 "Can we get iOS5 support back?"
MobileOrg is no longer usable on 1st-generation iPads, which cannot install iOS 6.

I find it hard to understand why it's not compatible with an the older OS.  It doesn't need to interact with Siri, or front-facing cameras, etc.., (at least not as its main job, which is displaying text and lists and agendas.)   I would like to request that iOS5 support be brought back if at all possible.

[2013-06-26 18:33] 0-wiz-0 opened #46 "Deprecation, and screen size"
While working on another patch to fix deprecation warnings in Xcode, I noticed that the keyboard hide/show code is inconsistent and not optimal.

There are two copies, in Classes/Capture/NewNoteController.m and Classes/Outline/NodeTextEditController.m, only one of which has iPad support.
The code also has hardcoded screen sizes. I hope that this can be done in a better way, but I'm new to the whol

[2013-07-08 09:06] idontgetoutmuch opened #47 "Large org file causes app to terminate?"
Also I have error messages in flagged.org:

[code]

But the todo items are not updated in the org file on my macbook.

Here's my .emacs file (the relevant part):

[code]

[2013-07-10 06:21] now opened #48 "Files not being displayed"
Since I “upgraded” to the new version I can’t see the contents of my Org files.  Whenever I click them I only get to see the properties view of the file.  When I “View as Document” it displays only the name of the file.

I’m syncing via DAV, which seems to work, at least for agenda.org, as that node gets displayed correctly.

Any ideas?

[2013-08-11 12:03] #48 closed, assigned to nobody

[2013-08-25 16:47] alexDarcy opened #49 "Cannot decrypt captured notes"
Enabling encryption works for files created in orgmode. But capturing notes on iOS, then sync it to orgmode will not decrypt the note.
Is it possible to change that ?

[2013-09-11 07:29] zmx opened #50 "Dropbox folder is different with different iOS locale"
My iPhone language is Chinese, I need change .emacs settings to make sync works.

Not Works:
(setq org-mobile-directory "~/Dropbox/Apps/MobileOrg")

Works:
(setq org-mobile-directory "~/Dropbox/應用程式/MobileOrg")

Maybe MobileOrg should provide a page show the correct path for user.

[2013-09-12 15:56] 0-wiz-0 opened #51 "Feature request: Scheduling tasks"
It would be nice to have the option to schedule tasks with support from the application, i.e. some date or date/time entry widget.

[2013-09-19 12:35] cgaray opened #52 "Enable text file import from other apps"
It would be nice to be able to capture notes in another text editing app (Drafts, for example) and then have the option to open those notes in MobileOrg capture.

[2013-09-30 03:40] AshtonKem opened #53 "Documentation page contains 404"
The link to github at the bottom of the documentation (http://mobileorg.ncogni.to/doc/) page is ou of date.

[2013-10-23 07:38] Nikolai1 opened #54 "Agenda view showing date but not time (IGNORE, wrong post)"
IGNORE:
My agenda view on my phone presents my scheduled APPOINTMENTS  with correct dates, but the timepoint is missing.

Are the Dropbox/MobileOrg/agendas.org  timepoints corrupted?:
- Week-agenda (W43-W44):<after>KEYS=a TITLE: Agenda </after>
  *\* Wednesday     23 october 2013
  **\*  MEETING Boss <before>Meeting:       11:00-12:00</before>

  :PROPERTIES:
  :ORIGINAL_ID: 898e39cd-1e35-467f-b30

[2014-01-06 01:13] mankoff opened #55 "Search window: No filter buttons on iOS 7"
I've just upgraded to iOS7. The search window used to have some filter buttons I think, like "TAG" and "TITLE". This section of the screen is blank now.

[2014-01-08 12:41] yzprofile opened #56 "Automatically create capture on IOS 7 when wake the app up."
Automatically create capture on IOS 7 when wake the app up.

[2014-01-08 13:29] #56 closed, assigned to nobody

[2014-01-14 17:57] cigumo opened #57 "Editor window size on iPhone 5"
The editor window height appears smaller on the iPhone 5, both in the capture new note and in the edit body window. It seems the height is fixed to the previous screen sizes when the keyboard is shown.  On the iPad it works OK.

I'm not sure if it's related but it's also difficult to scroll in these windows to see the bottom of the text when it goes outside the screen.

The following images show h

[2014-02-07 13:57] athanassis opened #58 "Mobile Org support for non emacs users"
Hi,
Would it be possible to support that?
I would like to upload my org files to drop-box via other ways, e.g., via a script via the dropbox api, not emacs-orgmode built-in pull method.
But I cannot make MobileOrg to download them to iPhone. I get the same error presented in the screenshots in https://github.com/MobileOrg/mobileorg/issues/32

Is it a matter of some indexing I don't provide? What s

[2014-03-03 21:49] mankoff opened #59 "X&Y.org no content"
If I have an Org file named X&Y.org, it is copied correctly to the MobileOrg folder, but the display is empty on the iPhone/iPad app. I think the ampersand is the problem.

[2014-03-18 20:24] zbeekman opened #60 "Support for BitTorrent Sync"
Cloud services like Drop Box are not ideal because you are entrusting your data to a third party. [BitTorrent Sync](http://www.getsync.com) synchronizes data between multiple devices using an encrypted p2p protocol, cutting out the middle man. Sync clients are available for iOS, Android, and desktop computer clients (apple, Microsoft, Linux)

[2014-05-10 04:53] nicholascarroll opened #61 "BUG: Spaces in org filename"
When org filename has spaces, eg "Process Tree.org", then the outline view shows the document does not show any content for the document.

[2014-05-10 04:56] nicholascarroll opened #62 "BUG: Heading level skips"
In Outline view, when an org file has a level 1 heading and then a level 4 heading directly under it, it will show these, but will then lose the rest of the document. eg.

\* Heading 1
***\* Heading 1.1.1.1
*\* Heading 1.2
* Heading 2

In the example above, the top level view in Outline will show:
Heading 1
Heading 1.2
whereas it should show
Heading 1
Heading 2

[2014-05-11 09:21] nicholascarroll opened #63 "ER: Image support"
Please enable Mobileorg to display image links in the Document View. For example you would insert this line into node.m

[code]

and whatever required changes to allow the link to be tapped by the user and display the image, without having to leave the app.

[2014-06-23 19:35] Xeijin opened #64 "Feature Request: Incorporate 'Reminders' functionality using iOS notifications"
It would be great if org-mobile could send an iOS notification on deadlines being triggered for specific TODOs that are synced to the App.

[2014-11-26 21:19] arthurnn opened #65 "Everytime I open the app goes to new Capture note"
iOS 8.1.1 , iphone 6

Every time I open the MobileOrg app, it opens the New note screen.

[2014-11-26 21:48] #65 closed, assigned to nobody

[2014-12-24 17:14] mannd opened #66 "No option to reuse MobileOrg directory with installation of MobileOrg on multiple devices"
In order to use MobileOrg on multiple devices I have had to temporarily rename the preexisting MobileOrg staging directory in Dropbox, and then delete the created MobileOrg directory and rename the original directory back to MobileOrg.  If I don't do this, the installation will see the MobileOrg directory and create a MobileOrg(1) directory instead.  There should be an option to use a preexisting

[2015-01-04 20:17] webframp commented on #57
I've been slowly working on this as my time allows and plan to get a new release in the next 30 days or so.

[2015-03-07 21:45] paos opened #67 "Sync doesn't work on ipad iOS 8.1.1"
... fixed ...

[2015-03-07 22:12] #67 closed

[2015-03-13 00:42] mankoff commented on #59
Probably related to #61

[2015-03-13 00:42] mankoff commented on #61
Probably related to #59

[2015-03-13 00:49] mankoff opened #68 "Sub-trees not exported"
Subtrees of Agenda items should be exported with the parent item. That does not appear to happen.

I have the following tree:

[code]

On my desktop, `Foo` appears in the Agenda, but `Bar` does not, since it is not `SCHEDULED`.

I have MobileOrg set to export my custom agenda, which includes `SCHEDULED` items. MobileOrg correctly shows `Foo`, but it should also export all of the children of `Foo`.

[2015-03-18 18:55] kurtismullins commented on #32
I ran into this error as well. From reading the comments I must have missed steps in some sort of documentation. I started by letting MobileOrg access DropBox and create the folder (apps/mobileOrg).

I get the same results as the screenshot above. Perhaps a better error message or better documentation in the app, itself, would be useful? (I haven't fixed the issue locally yet so I don't know that

[2015-03-18 20:08] redtoade opened #69 "org-mobile-push attempts to interpret in-buffer export settings"
Throws this error:

"error("Before first headline at position %d in buffer %s" 104 #<buffer requirements.org>)"...
org-back-to-heading(t)

when my org file has a timestamp before the first heading, for example:
# +DATE:        <2015-03-17 Tue>

[2015-05-14 21:38] zbeekman opened #71 "url at top of github project page should point to new website"
rather than just having a circular link back to the github page

[2015-05-18 03:48] vermiculus commented on #71
…and which website would you suggest? (there are at least two reasonable options)

[2015-05-18 12:48] zbeekman commented on #71
hmmm, well reading further down the README, it seems like the official webpage is http://mobileorg.ncogni.to, or at least it seems this way to me, someone who has no official connection with the project. If there is another place I should be looking, instead or in addition, then I would also love to know about it. Basically, I just don’t think it’s clear where to go to get more info about document

[2015-05-18 13:00] webframp commented on #71
This could definitely be clarified in the readme.

A revamped site was started here, but hasn't been completed, the plan was to update things once the new site was ready. Any documentation writers interested?

Site: http://mobileorg.github.io

Code: https://github.com/MobileOrg/mobileorg.github.io/

[2015-05-18 14:56] zbeekman commented on #71
@webframp Yes, this is the URL at the top of the project page, but in its current state the webpage is confusing and unhelpful. For example, the news section:

Where? Here?

This just takes you back to the github project page and README. But at the top of the project page there’s a link to http://mobileorg.github.io/

In short, currently the new website (http://mobileorg.github.io/) contains nothi

[2015-05-19 23:50] pedroteixeira commented on #32
Remove all files from Apps/MobileOrg and pushing again worked for me.

[2015-06-01 00:21] applemcg commented on #29
This discussion needs to be linked onto the Mobile.Org appendix B:
http://orgmode.org/manual/MobileOrg.html#MobileOrg

If webframp's step-by-step "how to" is anywhere else, i surely missed it.

Now, that said, a question:  since this thread is 2+ years since the last prior post, can I assume noone else has needed this since then?

[2015-06-03 01:11] mdmosley1 opened #73 "Unable to edit agenda files from mobile org"
When I try to edit the body text of a headline, the change I make is not saved when I exit the editor screen. Shouldn't mobile org allow us to make edits to agenda files?

[2015-06-27 13:21] ashmanskas opened #74 "monospaced font?"
Hi,

Is there a way to use a monospaced font in the "edit body" mode?  This would make it much easier to display tabular data or other preformatted text.

-Bill

[2015-07-02 15:34] shaiguitar opened #75 "DropBoxKeys"
Using the app and it works great.

I want to help contribute to this project but I can't seem to get it to run in xcode due to needing some certificate:

http://shairosenfeld.com/uploads/mobile-contrib.png

https://gist.githubusercontent.com/shaiguitar/8485b70e81880ef751d0/raw/a60c78175f81a8e9d4046c41a540b41f43b61b3b/gistfile1.txt

Is there some kind of FAQ on how to set up local dev or get the AP

[2015-07-02 19:18] webframp commented on #75
Hey @shaiguitar glad you're willing to help out, we could use it!

It seems like there are actually two key related issues here. The first is related to the iOS dev process, from the image it looks like you need a code signing certificate. For local development at least you should be able to create your own and use that, temporarily.

For the DropboxKeys, there is a file in the repo named `DropBox

[2015-07-06 08:05] shaiguitar commented on #58
@athanassis you might find spacemacs ( https://github.com/syl20bnr/spacemacs ) a try. It's a great "up and running" entry to emacs coming from vim. I use it and like it a lot.

[2015-09-26 00:13] trejkaz commented on #58
Another vote for this. I was looking at using the orgmode addon for Sublime Text.

The main issue seems to be requiring checksums.dat but updating that manually every time I make an edit would suck.

Dropbox already has ways to figure out whether a file has changed: https://www.dropbox.com/developers/core/docs#metadata

[2015-09-26 16:26] vermiculus commented on #58
Keep in mind that MobileOrg doesn't depend on Dropbox. It will work with WebDAV/etc. as well.

[2015-09-26 20:32] trejkaz commented on #58
Keep in mind that not depending on something doesn't mean that you can't take advantage of its features.

[2015-09-26 23:32] vermiculus commented on #58
Why can't you (or the orgmode plugin for st) automate checksums.dat? Put a hook on sublime's save function to recalculate the checksums if it's saving a tracked file. You could feasibly even add such a hook to dropbox itself.

[2015-09-27 01:08] trejkaz commented on #58
Better question: why do we even need checksums.dat when there is already a way to get the current checksum of a file?

[2015-09-27 15:30] vermiculus commented on #58
Because we need to track which files changed so we know which to download. ([Reference](http://mobileorg.ncogni.to/doc/getting-started/syncing-with-mobileorg))

[2015-09-27 20:23] trejkaz commented on #58
I'm pretty sure that even WebDAV has ETag which could be used to do that, though, and Dropbox of course has the method I already linked the docs to.

Any other reasons?

[2015-09-28 04:00] vermiculus commented on #58
Nope, that's pretty much it. :smile:

Except for the fact that checksums.dat is part of Org's implementation which doesn't even rely on the internet. Hidden data like this is exactly what the Org format tries to avoid.

[2015-09-30 11:26] athanassis commented on #58
On my laptop:
I have created index.org and checksums.dat files per instructions by @joelmccracken (md5 used)
Then uploaded both files plus my org files to dropox inside home/Apps/MobileOrg.

On the MobileOrg App side now:
after linking my dropbox account and when pressing synch button I get following error:
"Error synching changes, an error was encountered while attempting to fetch **mobileorg.org

[2015-12-28 23:06] junnik opened #77 "Wrong year number in capture mode"
The time stamp on capture mode gets +1 year than actual. For example I create a notes on 2015-12-28 but mobileorg shows 2016-12-28 after saving notes.
This occurs only in year end (the last week of year?) as it was working fine weeks ago.

[2016-03-31 13:18] stig opened #78 "iCloud support?"
I would love to see iCloud Drive support! I don't use Dropbox but store my org files in iCloud Drive instead.

[2016-04-21 02:11] watsy0007 commented on #78
+1

[2016-04-21 03:50] vermiculus commented on #78
@watsy0007 Please use GitHub's new reactions feature instead of commenting `+1` 😄

[2016-05-08 21:14] shaiguitar opened #79 "Support gpg files"
I never really got passed #75 though I could be stumbling into n00b errors because I don't have much iphone/apple dev experience. Happy to try again but I'll likely need hand holding to get through the initial steps (for example via some slack/irc etc).

I have a `index.org` file that links to a bunch of other files, one of them being a gpg file. The other files open up in standard org row/line-it

[2016-06-01 15:02] zbeekman commented on #60
There's also SyncThing: https://github.com/syncthing/syncthing ... Does anyone know if additional sync options have been added beyond dropbox?

[2016-06-01 15:23] zbeekman commented on #71
New site is still useless to users...

[2016-06-01 15:23] #71 closed

[2016-07-15 11:17] madeye-matt commented on #36
+1

[2016-09-04 18:41] wilbowma opened #80 "DONE keyword is green in overview, red in agenda"
Without some notification system, or filtering by scheduled/due date, looking at which tasks are still not done in my agenda view is the only workflow I've found for "what still needs to be done today".

But DONE items still appear red in the agenda view, making this more difficult than it needs to be, especially considering they appear green in the outline view.

[2016-09-21 05:46] d12frosted commented on #64
Any updates on this feature? Would be very nice to see it :)

[2016-09-30 23:52] wilbowma commented on #80
This seems to only be true of repeating event.

[2016-12-14 03:48] mrkeuz commented on #58
I found simple workaround.
Inside _~/Dropbox/Apps/MobileOrg_ just create _index.org_ with any content.
And next execute:
`$ md5sum index.org > checksums.dat`
I thing it should help.

[2016-12-14 13:56] athanassis commented on #58
Thanks mrkeuz and all!
I finally got to make it work. An empty mobileorg.org file was enough to get the app working.

[2016-12-14 18:41] webframp commented on #58
@mrkeuz thanks for posting the solution you found, hopefully helpful to other users. Honestly glad to see this code is still useful to some people besides just me.

Should probably add this to a troubleshooting section for the website: http://mobileorg.github.io/

[2016-12-19 03:46] webframp commented on #78
Thanks. It's on my list of stuff to do eventually. First priority is get an updated release out.

[2016-12-19 03:48] webframp commented on #75
This process has changed slightly.

@shaiguitar Check out the recent changes for Xcode 8 that have been merged into develop branch. You'll need to edit this file to add your testing keys: https://github.com/MobileOrg/mobileorg/blob/develop/Configuration/AppKey.plist

[2016-12-19 03:50] webframp commented on #80
Sounds like a reasonable bug, can you provide some steps to reproduce this scenario? Thanks

[2016-12-19 04:06] shaiguitar commented on #75
Hey @webframp, If you're on IRC/freenode or some place to chat I would be happy to catch up. I would still like to poke at this but I don't have much experience with xcode/iphone development and would likely need a bit of hand holding for the start.

[2016-12-19 12:53] mgmart commented on #69
Can't reproduce that. Probably gone meanwhile?

[2016-12-19 13:02] mgmart commented on #66
Can't reproduce that. Probably gone meanwhile. Probably due to the use of Dropbox API v2.

[2016-12-19 13:25] mgmart commented on #9
Is the first part of this ticket still true?

[2016-12-19 13:38] webframp commented on #66
Assuming APIv2 fixes this as well, since I haven't seen this behavior. Can re-open the issue if it persists.

[2016-12-19 13:38] #66 closed

[2016-12-19 13:38] webframp commented on #69
Agreed, same result for me

[2016-12-19 13:38] #69 closed

[2016-12-19 13:40] webframp commented on #75
Hi @shaiguitar I am occasionally around on irc and will get missed messages if you mention me there. Not sure I'm the best one for hand holding with iOS dev, but I can at least tell you what I do

[2016-12-19 13:45] mgmart commented on #75
What's about a MobileOrg Community at Gitter? Wouldn't that serve the purpose best? Could try hand holding there -- irc does not work for me as I do not have a proper setup.

[2016-12-19 13:48] webframp commented on #75
I'm ok with gitter, but haven't used it much. For irc I just use http://irccloud.com/ these days which is a nice setup

[2016-12-19 14:57] webframp opened #83 "Add link to gitter.im lobby"
Will want to add this to the readme probably:

[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/MobileOrg/Lobby)

[code]

[2016-12-19 15:45] shaiguitar commented on #75
In any case I think there are some basic-setup questions that make onboarding contributions to this repo a bit of a hurdle. Glad to help but I'll need someone to chat with to get started. I use this app a bunch and really do like it!

[2016-12-19 15:49] mgmart commented on #75
Can you access Gitter?
[![Gitter](https://img.shields.io/gitter/room/nwjs/nw.js.svg)](https://gitter.im/MobileOrg/Lobby)
There we could try to tackle the hurdles ;)

[2016-12-19 18:48] webframp commented on #83
fixed in #84

[2016-12-19 18:48] #83 closed

[2016-12-19 19:27] mgmart commented on #62
Could reproduce the cutting-off of the rest of the document one time only. Stripping of Heading 1.1.1.1. still reproducable.

[2016-12-20 03:12] webframp opened #86 "fatal error: Array index out of range"
This is the error I referenced here: https://github.com/MobileOrg/mobileorg/pull/81#issuecomment-267797146

@mgmart I assigned you just because you were most recently in this section of the code and might find the solution quickest

I narrowed this down with some sample data, see attached. It crashes consistently for me at this point
https://github.com/mgmart/mobileorg/blob/7f32804439535667e391ab0

[2016-12-20 03:48] webframp commented on #80
In current testing versions these keywords have no color. Will look into this before final release

![mobileorg-testing-image](https://cloud.githubusercontent.com/assets/774378/21337659/0a427642-c624-11e6-897d-160231a09942.png)

[2016-12-20 05:14] #62 closed

[2016-12-20 09:45] mgmart commented on #80
That's probably caused by using the default keywords. If I customise the keywords then all the keywords are coloured. Could be fixed by the fix concerning #86

[2016-12-20 09:47] mgmart commented on #77
Works for me at the moment. Seems we have to make some tests next week 🤓

[2016-12-20 10:29] junnik commented on #77
Ok, will try and see what we get :-)

[2016-12-20 11:46] mgmart commented on #63
For that mobile-org has to export the linked images. Is that possible? If not we should close this issue.

[2016-12-20 11:49] mgmart commented on #55
Filter buttons do appear on iOS9 and iOS10, probably also on iOS7 🤓

[2016-12-20 11:49] #55 closed

[2016-12-20 11:51] mgmart commented on #54
ignored 😄

[2016-12-20 11:51] #54 closed

[2016-12-20 11:52] mgmart commented on #53
Repaired in #84

[2016-12-20 11:52] #53 closed

[2016-12-20 11:55] mgmart commented on #47
Would like to close this issue because of unclear.

[2016-12-20 11:57] mgmart commented on #57
This is probably related to #46

[2016-12-20 11:59] mgmart commented on #43
Due to the use of DropboxAPI v2, Swift & Cocoapods the support if iOS 5.0 is probably not possible anymore.

[2016-12-20 11:59] #43 closed

[2016-12-20 12:00] mgmart commented on #40
Not an issue anymore.

[2016-12-20 12:00] #40 closed

[2016-12-20 12:01] mgmart commented on #39
Should be closed?

[2016-12-20 12:05] mgmart commented on #32
Problem seemed to be solved.

[2016-12-20 12:05] #32 closed

[2016-12-20 12:06] mgmart commented on #31
Does't occur anymore.

[2016-12-20 12:06] #31 closed

[2016-12-20 12:07] mgmart commented on #28
Dropbox app-folder handling is totally different meanwhile.

[2016-12-20 12:07] #28 closed

[2016-12-20 12:08] mgmart commented on #17
Warnings are gone. We haver others, though 🤓

[2016-12-20 12:08] #17 closed

[2016-12-20 12:12] mgmart commented on #2
Closing this because it is forced by the App-Store and xCode anyway.

[2016-12-20 12:12] #2 closed

[2016-12-20 12:16] mgmart commented on #18
is it the app-badge or the badge on the tabbar-icon which is talked about?
The App does not show anything for me. The glitch with the capture-icon-badge is gone meanwhile.
Should be closed, shouldn't it?

[2016-12-20 15:11] webframp commented on #47
Sounds good, @idontgetoutmuch please re-open with steps to recreate + test data if possible thanks

[2016-12-20 15:11] #47 closed

[2016-12-20 15:29] webframp commented on #63
As far as I can tell syncing of referenced images is unsupported by `M-x org-mobile-push` at this time. The list of files is determined by the `org-mobile-files-alist` function: http://orgmode.org/cgit.cgi/org-mode.git/tree/lisp/org-mobile.el#n257

It uses the value of `org-mobile-files` http://orgmode.org/cgit.cgi/org-mode.git/tree/lisp/org-mobile.el#n47 which is designed to just look for files e

[2016-12-20 15:29] #63 closed

[2016-12-20 15:31] #86 closed

[2016-12-20 15:46] webframp commented on #80
Fixes in #88 didn't impact this one for me, but that's ok for now

[2016-12-20 17:31] wilbowma commented on #80
I'm not exactly sure how to reproduce this. I get seemingly random behaviors:
- sometimes, I can't mark things as "DONE", only "DONEARCHIVE"
- sometimes, I can and when I do, the "DONE" tag appears in green
- sometimes, I can and when I do the "DONE" tag appears in red
- sometimes, the "TODO" and "DONE" tags appear without any color

I've noticed that, contrary to my earlier comment, this doesn't

[2016-12-20 17:42] mgmart commented on #80
I assume you're using the AppStore version of MobileOrg. We've changed a lot in the new version which is available only from GutHub at the moment. Might it be possible for you to give the new version a try? As it works with individual Dropbox API keys you could do the tests with separate test data and keep your productive data safe. I tried the tasks you have described with my data and everything

[2016-12-21 01:07] webframp opened #91 "Looking for TestFlight volunteers for beta testing - v1.7.1"
There is active work to release a new, updated version of MobileOrg for iOS. The first beta of the new build has been submitted for Beta app review.

To help make it a high quality release I'm looking for additional volunteers to test the beta builds using TestFlight before we finally release. Volunteers who can test across a variety of devices would be preferred.

If anyone is interested in helpi

[2016-12-21 01:17] jamie-conlon commented on #91
Hey Sean
I'd love to help.

Jamie
iPhone 6s
10.2
Dropbox

[2016-12-21 01:31] webframp commented on #80
I recreated my org files using some archive files I had, keyword colors are preserved. I think my issue was just in how I created the test files before. Considering this one closed

[2016-12-21 07:20] casserlyprogramming commented on #91
Cool. Love org mode. Love MobileOrg

Daniel
Iphone 7
10.2 when I have downloaded and installed it (today)
Dropbox

[2016-12-21 07:37] tuxella commented on #91
I'd like to help you by testing this app:
Thomas
iPhone 6s
10.1.1
dropbox, but i have access to a caldav server if this helps

[2016-12-21 10:33] thaaophz commented on #91
I'd like to help you by testing this app, too:

Matthias
iPhone 5
10.2
WebDav

[2016-12-21 11:29] mgmart commented on #80
What makes me wonder is that I got the correct colouring by using the [testfiles you provided](https://github.com/MobileOrg/mobileorg/files/662678/index_out_of_range_data.zip)

I fear there is still something not right.

[2016-12-21 11:41] stormlash commented on #91
Sean,

I'm available too.

Peter Sahlstrom
iPhone 7+
10.1.1
WebDAV

[2016-12-21 16:33] webframp commented on #91
Thanks for volunteering everyone. @casserlyprogramming @tuxella @thaaophz @stormlash can you email me your icloud ids and I'll add you to the external testers.

App hasn't passed beta review yet, but I'll send out the requests for testing as soon as it does

[2016-12-21 17:48] fdhidalgo commented on #91
In case you are still looking for people, my stats are as follows:

Fernando Hidalgo
Iphone 6
10.2
Dropbox

[2016-12-22 07:47] mgmart opened #94 "Prevent changing of DEVELOPMENT_TEAM in .pbxproj"
As a developer I want to test and run the iOS App in my local environment. This usually prevented by a *wrong* DEVELOPER_TEAM value set in `.pbxproj` after initial checkout or last fetch.

Changing the value locally leads to a changed `.pbxproj` which hunks can not easily be ignored.

The best approach to solve this seems to be to use a [pre-commit hook](http://merowing.info/2016/08/setting-up-pre

[2016-12-22 08:01] mgmart opened #95 "Make use of WebDav in unit tests"
As a developer I would like to use WebDav in unit tests.

Provide a framework which allows the use of WebDav in unit tests.
This could be done by using a [WebDav Test Server](http://test.webdav.org)

[2016-12-22 09:01] mgmart commented on #75
Obtaining the keys is now documented in ReadMe.

[2016-12-22 09:01] #75 closed

[2016-12-22 09:20] mgmart opened #96 ""Mark as done" does mark the note as "|" not as "DONE""
To reproduce:

1. Select an todo item.
2. Select `Flag this Node`
3. Select `Mark as Done`

Expected Result: Note is marked as `DONE`
Result I got: Note is marked as `|`

Workaround: Use `Todo State`and select `Done` instead

[2016-12-22 09:46] mgmart opened #97 "Changing an item has not effect when pulled, sometimes"
Changing an item (assumption: which does not reside in org-agenda-files) leads to an error when org-mobile-pull

To reproduce:
1. Have a file in `org-mobile-files`which is not in `org-agenda-files`
2. Change a item in this file
3. `Sync`
4. `org-mobile-pull`
5. There is a `Heading not found` error in `from-mobile.org`

[2016-12-22 09:49] mgmart commented on #73
Cannot reproduce this with the current version.

Changes I made to the agenda file are not processed accordingly by org-mobile-pull anyway (#97)

[2016-12-22 09:49] #73 closed

[2016-12-22 10:08] mgmart commented on #58
Closing this to get the issues section clean.
Created a task in MobileOrg/mobileorg.github.io for further reference.
Could be reopened anytime, though.

[2016-12-22 10:08] #58 closed

[2016-12-22 15:48] wilbowma commented on #80
@mgmart You're right that I'm using the version from the AppStore, so perhaps this issue has been fixed. I could give the GitHub version a try, but I don't know how to install apps from not-the-AppStore.

[2016-12-22 19:30] mgmart commented on #80
@wilbowma without Xcode experience it could be a difficult task to build and install the app. We should assume that the issue has been fixed meanwhile as all tests indicate as such.

[2016-12-23 10:53] abradd commented on #91
Also available for testing if needed.

Adrian Bradd
iPhone 5s
10.2
Dropbox

[2016-12-23 14:53] mgmart commented on #96
Found it ( I hope) will be unable to pr for some time. If it's urgent, here's how to fix it:

[code]

[2016-12-23 16:07] webframp commented on #91
Thanks for everyone who has volunteered so far, I have updated the issue with the names of those I've added so far. I think we have enough testers for now, but if needed I'll select others from this issue.

Just a brief note on the external testing, due to iTunes Connect policies:

I'm not sure how long it will take to pass the beta app review, but as soon as the bulid shows up and is available to

[2016-12-27 06:04] WilsonChiang commented on #91
Also available:

Wilson Chiang
iPhone 6s Plus
10.2
Dropbox

[2016-12-27 19:10] d12frosted opened #98 "MobileOrg icon and launch screen poll"
Hey folks,

Recently we have [updated](https://github.com/MobileOrg/mobileorg/commit/268a507a010fd2f260e2252aa0480cc7547fd7f1) launch screen image with a fancy org-mode icon. Since it's not in the same as application icon @webframp suggested to use the same icon in both places. So let's vote for the icon you, MobileOrg users, prefer.

# Original icon

![](https://raw.githubusercontent.com/MobileOr

[2016-12-27 19:23] webframp commented on #98
For reference: [Apple HIG - App Icon](https://developer.apple.com/ios/human-interface-guidelines/graphics/app-icon/)

[2016-12-29 08:12] d12frosted opened #100 "[Forum] How and for what do you use MobileOrg (and org-mode)?"
Hey folks,

Since there is an [active conversation](https://paper.dropbox.com/doc/MobileOrg-ideas-dznQbK5Su2BNAXZl48iPG?t=497650550027528#:t=497650550027528) on the future of MobileOrg it would be really helpful to know how you use MobileOrg and what tasks you solve by using it. Also it would be great to know what features you miss. Note that there are [some open issues](https://github.com/MobileO

[2016-12-29 15:13] jamie-conlon commented on #100
I use org-mode for GTD:
This mainly consists of:
- Agendas - Todo etc...
- Capturing to inbox
   - On iOS, capturing from outside the app would be great too. E.g. A homescreen widget and a share sheet option.
- Refilling
- Reference notes

[2016-12-29 16:30] webframp commented on #100
org-mode is primary GTD tool as well, and I use MobileOrg for capture and visibility of agendas and references.

[2016-12-29 16:44] webframp opened #101 "UI development using Storyboards"
The question has come up in discussion about using iOS Storyboards for UI design. Currently the app makes little to no use of storyboards, with the exception of the newly added Launch screen in the development codebase.

Storyboards have been around long enough to make their usage now generally standard I think. Since they are often promoted as the right direction for future app development we sho

[2016-12-29 16:46] webframp opened #102 "Swift vs Objective-c"
This issue is for discussion of a few things related to language choice:

- How do we feel about preferring one or the other for new code?
- What effort should we put towards refactoring areas of the code from one to the other and why?
- How do we communicate this preference to possible contributors?

[2016-12-29 16:49] webframp commented on #101
Found a decent article for reference: [Storyboards vs. NIBs vs. Custom Code](https://www.toptal.com/ios/ios-user-interfaces-storyboards-vs-nibs-vs-custom-code)

[2016-12-30 06:16] d12frosted commented on #100
In short - GTD, time tracking and note taking.

---

I was using `org-mode` for GTD (mostly for work related 'stuff'), time tracking and note taking. Everything was fine until I started to overcomplicate things with calendar synchronisation (it never really worked well, because I have several calendars I have to follow) and macOS (formerly OS X) notifications. Notifications worked well but thanks

[2016-12-30 17:56] mgmart opened #103 "Provide a view for habits"
like the consistency view in org agenda

[2016-12-30 18:00] mgmart opened #104 "Store location of capture"
when a note is taken with MobileOrg, store the gps coordinates in the note.

Maybe a geolookup could also be done in MobileOrg because it's easier todo than in Emacs.

[2016-12-31 14:30] mgmart commented on #100
### Current Usage

I started to use org-mode several times and stopped using it because of the lack of mobile support.
Main things I miss on the mobile site are notifications for todos and a proper note taking facility.
I'm a (pro) user of Evernote and Remember the Milk from their beginning and this is because of their fantastic mobile support.
I tried to utilise the rtm-link which is provided in

[2016-12-31 22:15] mgmart commented on #101
I definitely favour Storyboard.

The linked article covers all aspects. One addition: since Xcode 7 with Storyboard refrences there is an additional feature for organising Storyboards.

[2017-01-01 09:12] mgmart opened #105 "Document specific keywords must not be used globally"
Self explanatory?

[2017-01-02 09:15] ckruse opened #106 "Create a Share Sheet"
It would really be nice to have a share sheet which creates a new capture for the shared content.

[2017-01-03 05:59] mgmart commented on #106
Would like to have that too. Do you have any particular use-cases (apps) in mind?
I would like to use it for Safari links and Evernote (as a link to a note).

[2017-01-03 06:15] mgmart commented on #77
Please reopen if anybody had still problems with year number last week.

[2017-01-03 06:15] #77 closed

[2017-01-03 06:24] ckruse commented on #106
For my use cases that would be Mail, Twitter, Tweetbot, Reeder and Reddit (the official client). :-)

[2017-01-03 06:37] mgmart commented on #98
Should we close this poll in a week from now?

[2017-01-03 08:14] mgmart commented on #102
If we agree on the fact that the proposed changes to UI/UX would lead to a fresh start regarding to the codebase, I would say it might be sufficient to favour Swift for the old codebase but still allow Objective C contributions.

The new codebase could then be Swift only. And there would be no need for refactoring the old codebase.

[2017-01-03 09:32] mgmart opened #108 "Allow sharing from MobileOrg"
e.g. in case you want to mail some of your content
derived from #106 😇

[2017-01-03 12:28] webframp commented on #98
One more week seems sufficient to me

[2017-01-03 12:31] webframp commented on #106
My common use case is also URLs for this, sometimes quotes from articles.

Functionally would this share sheet just capture to a dedicated file to allow the user to refile later? Possibly configurable in MobileOrg settings?

[2017-01-03 13:17] ckruse commented on #106
Does the Org-Sync-Protocol allow to capture to dedicated files? I thougt you can just add captures, independent of the file?

[2017-01-03 13:54] d12frosted opened #109 "Refiling functionality"
I think it would be great to have a functionality to refile items in MobileOrg.

[2017-01-03 17:35] mgmart commented on #106
I had a look into the App Extension API (which I think is needed for receiving shared content) and it seems rather difficult to implement that with the current codebase. First of all we would need the to duplicate the necessary Core Data code into the App Extension or refactor it to an embedded Framework which then could be used by the main app and the extension.
As we could foresee that in the ar

[2017-01-03 17:39] mgmart commented on #109
Put this to 'v2' as a suggestion. Can be relabelled at any time.

[2017-01-03 18:05] mgmart commented on #100
is anybody active in the org-mode community? Probably it could be an approach to forward the question to the org-mode community as well.

[2017-01-03 18:17] mgmart commented on #52
Is superseded by #106. Please reopen if I'm wrong.

[2017-01-03 18:17] #52 closed

[2017-01-03 18:34] mgmart opened #110 "Capture editor screen is too small on modern devices"

[2017-01-03 18:37] mgmart opened #111 "Flagging screen looks ugly on modern iOS"

[2017-01-03 20:19] #96 closed

[2017-01-03 21:05] mgmart opened #113 "Create Swift-Org PoC"
Write a small PoC utilising swift-org.
PoC should cover org document used for unit tests and the addition of a currently unsupported property like ‘habit’

[2017-01-04 09:00] tuxella commented on #100
I could forward this survey to the org-mode newsgroup, this would reach some *advanced* users of org-mode.

I can also send it to a french emacs user-group, less than half of them know of org-mode but this would be a more diverse sample of users.

[2017-01-04 09:06] Manzalab commented on #100
Is the survey about using MobileOrg or Org-mode in general?

If this is about MobileOrg, this thread is a good place to collect feedback, and you're welcome to advertize it on the org-mode mailing list.

If this is about org-mode in general... well, there is a lot of feedback already, asking for more will not provide a lot of value.  But if someone wants to design a proper survey, the community ca

[2017-01-04 09:08] bzg commented on #100
Is the survey about using MobileOrg or Org-mode in general?

If this is about MobileOrg, this thread is a good place to collect feedback, and you're more than welcome to advertize it on the org-mode mailing list.

If this is about org-mode in general... well, there is a lot of feedback already, asking for more will not provide a lot of value I guess.

But if someone wants to design a proper org-mo

[2017-01-04 09:38] mgmart commented on #100
@bzg The survey is definitely about MobileOrg. We are asking about org-mode in this context because of use-cases we could cover in a future version of MobileOrg which are not possible at the moment with MobileOrg. I could imagine there are many Org-mode users out there who are not actively in development and GitHub. It would be shame if we complete the design of a new version of MobileOrg, only to

[2017-01-04 09:53] bzg commented on #100
Thanks for the clarification.  In any case, I recommend a proper survey outside of github, not all org-mode users are on github.

[2017-01-04 13:18] #110 closed

[2017-01-04 14:41] mgmart commented on #109
How does handle org-mode document related todo keywords if item is refiled?

How should do we handle it if the answer is that it does not?

[2017-01-04 15:30] mgmart commented on #105
Do we any harm if we set document specific keywords globally?

[2017-01-04 20:05] thaaophz commented on #80
Same problem here building the app from ff1978705d7f3f4b94c7f8555105f5e9ac27275a.

Furthermore the color of an entry does not change if I use agenda view to mark it as DONE.

[2017-01-05 07:57] mgmart commented on #80
Could reproduce that.

[2017-01-05 08:27] thaaophz commented on #80
#114 does not fix it for me.

[2017-01-05 08:42] mgmart commented on #80
My tests so far:
I start from `Agenda Views... -> ToDo: All...`
From there I switch back and forth between all possible stages and get the right color every time.
No difference wether I use `Flag this node` or by switching `Todo State`

Could you provide the  steps you made?
If you have a different result with my steps it could be useful if you could provide some test data.

[2017-01-05 09:23] mgmart commented on #57
Should be fixed by #112

[2017-01-05 09:23] #57 closed

[2017-01-05 09:26] #46 closed, assigned to nobody

[2017-01-05 09:28] mgmart commented on #50
Would like to close this because we can not determine the locale used by emacs from iOS.

[2017-01-05 09:28] #50 closed

[2017-01-05 09:31] #39 closed, assigned to nobody

[2017-01-05 09:34] mgmart commented on #37
Should be fixed by #88. Please reopen if not.

[2017-01-05 09:34] #37 closed

[2017-01-05 09:35] mgmart commented on #26
No traffic for nearly 4 years. Please reopen if question should still be discussed.

[2017-01-05 09:35] #26 closed

[2017-01-05 09:39] mgmart commented on #25
Clocking support in Widget so that it is in reach as without to hassle with opening the app, searching task etc.

[2017-01-05 09:42] mgmart commented on #23
Needs some clarification: rsync over ssh? in v2 git over ssh could be an approach if we are going that way.

[2017-01-05 09:42] #18 closed

[2017-01-05 09:43] #9 closed, assigned to nobody

[2017-01-06 06:08] abradd commented on #100
You could post this question the org-mode subreddit.  One of the [Pandoc developers](https://www.reddit.com/r/orgmode/comments/4ilhln/do_you_use_pandoc_what_would_be_your_wishes/) did that recently and had some good feedback.

[2017-01-06 06:25] mgmart commented on #100
@abradd thanks for the hint. Didn't know about the subreddit. There seems to be already much content relating to our question(s). I even found an Android App which is using git for sync instead of org-mobile.el. A feature we are also are thinking about.

[2017-01-06 06:27] ckruse commented on #100
That would be awesome! I already have my org-files in a git repository, with an automatic commit every hour and finally I could change all my org-files on my phone!

[2017-01-06 07:55] mgmart opened #116 "App Badge is not shown"
To reproduce:
- Switch on `Show App Badge` in Settings
- Make edits
- Verify the amount of changes by adding the badge values of `Outlines`and `Capture` tabbar icons

Expected outcome:
- There is an app badge which shows the correct amount of edits

Real outcome:
- No app badge at all

[2017-01-06 09:11] mgmart commented on #116
For the app badge to work in iOS 8+ you have to ask for permission to send notifications.

There are two possible solutions:
- Asking the for permission to send notification and not sending any
- Removing the app badge feature

[2017-01-06 14:26] #34 closed

[2017-01-06 14:26] #74 closed

[2017-01-06 14:27] #80 closed

[2017-01-06 14:28] webframp commented on #116
I'm fine with requesting the permissions if needed of course, but is the app badge even a useful feature for people as currently implemented?

[2017-01-06 14:45] webframp commented on #91
Just an updated for those who've been added as external testers. I've added a build to test but I'm still waiting for the Start Testing button to be available to me in iTunes connect external testing section. I'm assuming this means I'm still waiting on beta app review, but am not sure.

[2017-01-06 22:11] 501st-alpha1 commented on #23
I keep my Org Mode files in a Git repo, so I'm in favor of that if it's an option.

[2017-01-07 09:29] mgmart opened #120 "Does it make sense to use git or nothing at all as an alternative to org-mobile.el"
org-mobile.el is a fantastic piece of code as it allows to sync org-files without producing any kind of conflicts. Nevertheless for many users it's annoying to remember every time to push/pull when changing devices. As an alternative MobileOrg could work directly with org-files stored in iCloud/Dropbox/... . Or, as another alternative as many users use Org-mode with git, MobileOrg could use git to

[2017-01-07 09:34] mgmart commented on #23
@501st-alpha1 I made that a question(#120)

[2017-01-07 09:35] mgmart commented on #100
@ckruse any input on #120 would be appreciated 😄

[2017-01-07 11:42] mgmart opened #121 "Link to configuration documentation is outdated"
could be done once configuration documentation is present in documentation (MobileOrg/mobileorg.github.io#5)

[2017-01-07 12:12] mgmart opened #122 "Removal of Autocapture"
I would like to remove the 'Autocapture' (#21) functionality

It might be useful on iOS without multitasking switching, but on nowaday-devices it might only confuse the user (#65).

@vermiculus: what do you think about it?

[2017-01-07 12:21] vermiculus commented on #122
What's wrong with it? It does exactly what it's supposed to do…

If it's on by default, it might be a good thing to turn *off* by default.

[2017-01-07 12:31] mgmart commented on #122
My concern is that it is triggered also by task switching and therefore nobody would use it. Having the switch, leads some users to use it and then forget about it (#65 as an example). This could potentially lead to a bad acceptance of the app.

But if we have users still using autocapture, we could mark the setting with a big red exclamation mark and some explanation what it does.

[2017-01-07 12:45] vermiculus commented on #122
Can you be a bit more explicit about what the problem is? AFAIK, **that** is almost exactly what's designed. It's intended for folks who use MobileOrg purely as a task-capture tool (such as myself).

I have no problem removing the feature if there's a good reason to do so, but I want to make sure this isn't throwing the baby out with the bathwater, so to speak.

[2017-01-07 16:45] mgmart commented on #122
Could you please talk a bit of your usage in #100? I'm sure this would help us very much.

I would not call it a problem. It's rather an inconvenience. Thinking of it, it might be a solution to use the capture button in the tabbar for triggering a new note if the user is already in the capture screen.

[In the video I tried to visualise the inconvenience.](https://dl.dropboxusercontent.com/u/36821

[2017-01-07 16:51] vermiculus commented on #122
I'll make a note, but it'll be small

Ah! Yes, that's definitely annoying and not the intended behavior. On the theme of throwing the baby out with the bathwater, the *bathwater* seems to be 'in-progress captures are interrupted'. *That's* the bug – not autocapture in general 😄

If MobileOrg is/was already in the process of writing a note, then we shouldn't create a new one. I'd expect users like

[2017-01-07 16:53] vermiculus commented on #100
At request: I haven't used the application in some time (ever since it was taken off the app store a few years ago), but I used it almost exclusively for task capture. Sometimes I used it to review old notes, but not often.

[2017-01-07 16:57] webframp commented on #122
I don't think this behavior needs to be removed, but possibly refactored or more clearly described in the settings. It's not default behavior so I don't see it being too confusing to users.

As @vermiculus points out, he does use it. There may be others.

One app that I have used with similar behavior is [drafts from agile tortoise](http://agiletortoise.com/drafts/). It's default setting creates a

[2017-01-07 17:00] vermiculus commented on #122
Such a delay would handily address the problem use case here as well (and sounds exactly like a suggestion noted in the original PR).

[2017-01-07 17:03] vermiculus commented on #111
Screenshots would be great additions to issues like this 😄

[2017-01-07 17:13] mgmart commented on #122
Good point

I would propose a warning in the settings for 1.7 as a solution, in the case that nobody volunteers to do the refactoring 😉

[2017-01-07 17:17] wilbowma commented on #100
When I discovered MobileOrg, I was hoping to replace the Reminders and Notes apps with one app that also syncs well with a terminal based tools. MobileOrg is only just good enough for me.

I use org-mode primarily for
1. capturing notes/tasks. This works very well, especially since it semi-automatically syncs with emacs.
2. reviewing/marking tasks from agenda. This works.. okay. Sometimes marking

[2017-01-07 17:20] webframp commented on #122
Totally open to the idea of UX improvements with the feature, but since we know it's used lets not plan to remove this but discuss improvements as needed once we get more details from #100 maybe?

[2017-01-07 17:52] mgmart commented on #122
No answers without question. Thought it would be sufficient to flag the topic as a question. 😉

I'm totally fine with keeping it. I still doubt there are users still using this feature, as @vermiculus points out he is not using MobileOrg anymore. But as you said, maybe there are others.

With our new storyboard (thanks @jamie-conlon) we can now easily put a nice warning sign to the switch in the s

[2017-01-07 17:58] mgmart commented on #111
Better not 😄 It's really ugly.

[2017-01-07 18:05] webframp commented on #122
Definitely worth asking the questions so we can improve things 👍

[2017-01-07 18:59] #59 closed

[2017-01-07 18:59] #61 closed

[2017-01-08 01:42] sjLambda commented on #100
Agenda, TODO, Reminders, Notes w/links, Capture are my current usage needs.

Clocking, QR capture, image capture from camera, and Bibliographic capture would be icing on the cake.

Thanks for your great app.

[2017-01-08 02:31] brhumphe commented on #100
I think that, more than anything else, org-mode needs to integrate into my entire computing environment. On iOS that means robust support for x-callback urls, share-sheet extensions, notifications, and actions in third party apps like Drafts.

[2017-01-08 02:33] webframp commented on #100
@brhumphe I'm also a Drafts user, what integration with MobileOrg would you like to see? How do you see it working best?

[2017-01-08 05:20] mgmart commented on #116
I'm not happy with asking for permission to send notifications because this would make some users expecting notifications from MobileOrg.

We could flag the switch in settings with a warning sign and description what the App Badge does.
Permission would only be asked if Switch is on.

[2017-01-08 07:05] brhumphe commented on #100
I see it working best as a bridge between other iOS apps and org files. For example, if I had an org file for task management, I could create an action in Drafts to add the contents of the draft underneath an Inbox header with a particular set of tags. Or if triggering from the share sheet, then a menu might open asking where to file the item, similar to OneNote. Perhaps it could automatically imp

[2017-01-08 07:12] #113 closed

[2017-01-08 08:00] mgmart commented on #106
@brhumpe in #100

I do not know OneNote but I could imagine the menu right away in the share-sheet.

[2017-01-08 08:06] mgmart opened #123 "New Core Data Model"
Core Data Model should be implemented in an embedded framework to allow share-sheets (#106)

[2017-01-08 08:10] #122 closed

[2017-01-08 08:30] mgmart commented on #123
An example for a Core Data model can be found [here](https://github.com/MobileOrg/Incubator/tree/master/Swift-Org-PoC).

[2017-01-08 09:33] alf commented on #100
- Capture of TODOs
- Capture of notes (requires structural editing)
- Browsing of agenda/org files
- Refiling would be nice (while commuting)
- Notification/Integration with reminders

[2017-01-08 16:41] abradd commented on #120
I agree that working with org files directly is very useful. Any offline work has a risk of sync-conflicts, Dropbox just creates a copy of the file that is conflicted. For Dropbox users this would at least preserve any conflicted data, may not help webDAV users. I’m not sure how applications like OmniFocus handle this, but they might provide some insight at least in the front-end interface for con

[2017-01-08 16:59] mgmart commented on #120
I suppose they use Core Data

Maybe this could stand as a third alternative in this discussion.

- If phone is online, work takes place on the org-files
- If phone is offline, every change is stored separately
- If phones comes back online
   1. read org-files
   2. merge changes
this could be done on the phone easier* as with file-only merge if we suppose that Core Data is still used as storage i

[2017-01-08 17:14] alf commented on #91
Alf Lervåg
iPhone 6s
10.2.1 Beta 2
Dropbox

[2017-01-08 20:22] brhumphe commented on #123
There are other features that a new data model could enable, such as compatibility with taskpaper and markdown formats.

For handy reference:
*  [org element api](http://orgmode.org/worg/dev/org-element-api.html)
*  [CommonMark spec](http://spec.commonmark.org/0.27/)
*  [How OmniFocus handles taskpaper integration](https://support.omnigroup.com/omnifocus-taskpaper-reference/)
* [A thoughtful compa

[2017-01-09 04:53] gvol commented on #100
Almost exclusively for capture (though that may change here soon).  I was going to try to create a Siri intent to capture something in MobileOrg, but when I looked at SiriKit I realized it isn't up to the task.  It's sad really.

[2017-01-09 15:00] Biotechjones commented on #100
* Capture TODOs

[2017-01-10 17:51] mgmart commented on #111
Looks great! Thank you!

[2017-01-10 17:51] #111 closed

[2017-01-10 18:20] mgmart commented on #94
Did not happen for me in the last time. Maybe it's sufficient to discard the chunk if it only happens occasionally.

[2017-01-10 18:20] #94 closed

[2017-01-10 18:26] mgmart opened #125 "Warning sign is needed for Autocapture Setting"
To prevent user switching it on and be then confused afterwards 😉

[2017-01-10 19:34] feoh commented on #100
I never got MobileOrg to work, but very much wanted it to :) Key features for me are clocking and simple outlining with links.

[2017-01-11 02:52] mkasu commented on #91
Also available and interested, if you need any testers in future.

Marc
iPhone 6S Plus, iPad Air 2
10.2
WebDAV

[2017-01-11 05:51] mgmart opened #126 "Document view could get a UI refresh"
As it is the last screen remaining which does not look modern it would be nice if we could give it a refresh.

Marking this as a bug. So that it is visible as a task to do for 1.7.

Refreshing the icons would help. Making this an additional ticket.

Would give it minor priority if other things come up.

[2017-01-11 05:56] mgmart opened #127 "Icons used within the app are not retina."
Icons in 'Document View' and the tabbar are not retina. Looking ugly on modern devices.

There are some free icon sets available.
I suppose icons from http://www.flaticon.com could be used within the project, but not sure about it.

I could help with converting svg to x1, x2, x3 if necessary.

[2017-01-11 08:03] d12frosted commented on #98
Modern icon has won. I'll send a PR on this weekends with an update.

[2017-01-11 08:05] mgmart commented on #98
Which would contain the launch screen?
App icons would then be another task?

[2017-01-11 08:28] jamie-conlon commented on #98
Wait... Are the images mixed up under the headings? Is the new image the simpler looking one?

[2017-01-11 08:33] mgmart commented on #98
I suppose they are. But the vote results are gathered according to the writing here. Which means the second icon with the friendlier looking unicorn has won.

I hope that is ok for everyone.

[2017-01-11 09:20] d12frosted commented on #98
Sorry for misunderstanding. From my point of view the second one is new 😸

P. S. We should also change organisation icon as well.

[2017-01-11 16:11] webframp commented on #91
Hey Everyone, thanks for volunteering. I have enough testers for now, but will look to add a few more eventually and will pull from this issue.

Invites went out for External testing of version 1.7.1 just now

[2017-01-11 16:35] webframp opened #128 "Error downloading checksums"
Reported issue from TestFlight testing
![0](https://cloud.githubusercontent.com/assets/774378/21857000/e962a2e6-d7f1-11e6-8d84-aeb3b711ca21.png)

### Device Information
[code]

Reported by @jamiesmy

[2017-01-11 16:39] mgmart commented on #128
Is there a checksums.dat present?

[2017-01-11 16:41] webframp commented on #128
There may not be, but the user experience from this error isn't great

[2017-01-11 16:43] mgmart commented on #128
Agree. But it would be a different kind of bug wether the file is present or not.

[2017-01-11 17:55] mgmart commented on #128
Seems to be an old one :( #32

[2017-01-11 18:56] mgmart commented on #125
Also a warning is needed for the AppBadge switch. Explaining that it this would cause a request for permission to send notifications and that this version does not send notifications.

Assigning it to @jamie-conlon because I do not want destroy the nice screen :)

[2017-01-11 19:01] mgmart commented on #127
if #126 is done there would be only the tabbar icons left

[2017-01-11 20:20] #128 closed

[2017-01-11 20:22] d12frosted commented on #98
Started to work on it here: https://github.com/MobileOrg/mobileorg/pull/132

Note that launch screen is already updated.

P. S. Closing this as the poll is over. Reopen if you wish to have it open 😸

[2017-01-11 20:22] #98 closed

[2017-01-12 02:05] stormlash opened #133 "1.7.1 Beta: Error syncing changes (over WebDAV)"
I've installed the Beta of 1.7.1 through TestFlight, but when trying to sync over WebDav I receive the following message:

An error was encountered while attempting to fetch mobileorg.org from the server. The error was:
Failure

I've reverted to 1.6.1 from the app store and am able to sync fine with the same settings.

The WebDAV server is reached over HTTPS on port 5006, with a somewhat long file

[2017-01-12 02:10] stormlash opened #134 "Beta 1.7.1: Long WebDAV URL does not display properly"
The URL I have specified in my WebDAV configuration is 71 characters long, and does not display properly in the settings panel.  The last 32 characters are readable, but the preceding ones print over the text "URL" and then run off the left side of the screen. See screenshot for an example.

At the very least, the "URL" text should not be overwritten - but it would be really nice if the input fiel

[2017-01-12 02:33] webframp commented on #133
Thanks for reporting!

[2017-01-12 02:34] webframp commented on #134
Seems related to #133

[2017-01-12 02:35] #116 closed

[2017-01-12 02:38] webframp commented on #98
@d12frosted changed github org logo to match

[2017-01-12 03:09] webframp commented on #133
@mgmart what do you think, related to #119 in any way?

[2017-01-12 03:16] jamie-conlon commented on #133
It could be something related to the settings screen update I pushed. I didn't test webDAV either. I'll have a look to see if I've messed anything up.

[2017-01-12 03:36] webframp commented on #95
#133 and #134 kind of shine a light on the need for this

[2017-01-12 06:07] jamie-conlon commented on #133
So it looks like the URL validation did not survive the conversion to swift. It compiles fine but I never tested it...
Will have a fix soon.

[2017-01-12 13:21] d12frosted commented on #98
@webframp many thanks!

[2017-01-12 14:52] #121 closed

[2017-01-12 15:10] #133 closed

[2017-01-12 15:50] #134 closed

[2017-01-12 17:29] mgmart commented on #95
It seems we've done our manual tests with Dropbox only.
This might help to prevent that in the future: https://itunes.apple.com/de/app/webdavnav-server/id747482894?mt=12

[2017-01-12 23:24] webframp commented on #127
Since @jamie-conlon has a good idea for the Doc View enhancements it makes sense to do this one after #126

[2017-01-13 07:25] mgmart commented on #123
@brhumphe how would you like to see Markdown incorporated in MobileOrg? Sharing from another application which serves Markdown and transforming Markdown into Org-mode syntax? But that would be independent from the storage model. Probably I don't get it. Could you elaborate on it?

[2017-01-13 07:27] mgmart commented on #109
Would org-mobile.el support refiling?

[2017-01-13 14:35] d12frosted commented on #109
I haven't tried it, but I think it refiles as is, without any changes. Why should it? 😸

[2017-01-13 14:38] mgmart commented on #109
I'm still under the impression of #97. :feelsgood:

[2017-01-13 17:29] robertsck commented on #100
I use org mode as a personal knowledge base, with a lot of links between files and headlines. I use ID links to allow me to change/move headings later. I currently use many small org files primarily to enable mobile support. Thus, a good mobile-org app would allow me to generate larger org files.

Key features I would use are:
- Search across multiple org files
- autocompletion of tags and links t

[2017-01-14 00:44] abradd commented on #97
I can't reproduce this. I have the following for org-mobile-files:

    (setq org-mobile-files '(org-agenda-files "~/cloud/notes/random_notes.org"))

To test reproduction I changed the start in headings in random_notes.org (which isn't in org-agenda-files) and synchronized before pulling. I repeated this a few times and didn't get any errors. How frequently do you see this error?

The text in from

[2017-01-14 00:47] abradd opened #140 "Accessing existing capture templates"
Would be nice to have access to capture templates defined in our .emacs (or elsewhere) inside MobileOrg.

[2017-01-14 06:10] mgmart commented on #97
Glad to hear that.
It's `Heading not found`.
Happened to me with my dot.emacs.org which is rather complex.

I suppose we need some representative test-files.

[2017-01-14 06:14] mgmart opened #141 "Representative Testfiles"
To be able to test during development and beta-test.

- Should be pretty complex.
- Should be shared with developers, testers and users
- Should include org-mode configuration
   (as some defects could occur on emacs, e.g. #97)

[2017-01-14 06:19] mgmart commented on #140
could be triggered by:

- [Widgets](https://developer.apple.com/ios/human-interface-guidelines/extensions/widgets/)
- [Sharing](https://developer.apple.com/ios/human-interface-guidelines/extensions/sharing-and-actions/)
- `New Note` within the App

=> #106

[2017-01-16 21:07] webframp commented on #141
How about we just use some of the same ones from here: http://orgmode.org/cgit.cgi/org-mode.git/tree/testing/examples ?

[2017-01-16 22:17] webframp commented on #120
Some comments from the org-mode mailing list thread:

_Alan:_

_Eric:_

_Anssi:_

of MobileOrg. So whatever you want to provide, make sure sync is automatic. And
preferably supporting private sync options too.

Some suggested an emacs config to auto sync such as:

_Gijs:_
[code]

_Karl:_

WebDav to SyncThing since it turned out to be a very neat and easy
to use sync method with enhanced privacy. A

[2017-01-17 09:00] mgmart commented on #141
I suppose those are not suitable for our needs. They seem to focus mainly on org-babel.

Testfiles for MobileOrg should include:
- priorities
- tags
- todo and done keywords
- many heading levels
- agenda files like they are generated by org-mobile.el
- ...

[2017-01-17 15:32] gburch opened #142 "Orgzly"
Would like to start a discussion about considerations of combining or collaborating with [Orgzly](http://www.orgzly.com/). They do have an entirely different approach of supporting org files directly and in my brief testing on Android it seems to work fine. They do not have an iOS version.

There is a large demand for being able to work with org files on mobile but a small number of developers foc

[2017-01-18 08:31] mgmart commented on #120
v1.7 is nearly ready and focus will now tracked more to v2.
As we got no answers how to implement an alternative approach I would suggest:
- v2 will take the mobile-org.el approach
- software architecture must foresee the future implementation of an alternative snyc-mechanism either by
  - implementing sync in embedded frameworks, or
  - using a module approach.

[2017-01-19 00:33] gburch commented on #142
I will close this to focus valuable feedback into that ticket. For whatever reason that ticket didn't have a title that jumped out at me as a similar issue.

[2017-01-19 00:33] #142 closed

[2017-01-19 00:35] webframp commented on #142
Thanks for participating @gburch ! Your input will help make MobileOrg better.

[2017-01-19 17:08] mgmart commented on #127
For the time being the current icons must be sufficient. And they are not looking too bad after the latest changes to screen size.

After #126 the screen could be omitted.

[2017-01-19 17:08] #127 closed

[2017-01-19 17:09] mgmart commented on #125
Link to documentation is available in settings with #144

[2017-01-19 17:09] #125 closed

[2017-01-20 14:46] mgmart opened #145 "Agenda templates"
From the Incubator:
As an extension to capture templates above, it would be useful to have access to existing agenda templates from a configuration file. This would require MobileOrg to be able to parse agenda view syntax. org-mobile.el already exports agenda views, but if MobileOrg was able to generate agenda views it would permit updating them on the fly. Also would assist MobileOrg use without

[2017-01-23 13:53] mgmart opened #148 "Support Siri"
@gvol: [in survey](https://github.com/MobileOrg/mobileorg/issues/100#issuecomment-271211159)

[2017-01-23 13:56] mgmart opened #149 "autocompletion of tags and links to Headers using an ID link"
@robertsck [in survey](https://github.com/MobileOrg/mobileorg/issues/100#issuecomment-272496577)

[2017-01-23 18:48] mgmart commented on #149
Added to [requirements](https://github.com/MobileOrg/mobileorg.next/blob/specification/docs/MobileOrgv2.org#autocompletion)

[2017-01-23 18:48] #149 closed

[2017-01-23 18:49] mgmart commented on #148
Added to [requirements](https://github.com/MobileOrg/mobileorg.next/blob/specification/docs/MobileOrgv2.org#siri-integration)

[2017-01-23 18:49] #148 closed

[2017-01-23 18:50] mgmart commented on #145
Added to [requirements](https://github.com/MobileOrg/mobileorg.next/blob/specification/docs/MobileOrgv2.org#agenda)

[2017-01-23 18:50] #145 closed

[2017-01-23 19:09] mgmart commented on #106
Collected in requirements

[2017-01-23 19:09] #106 closed

[2017-01-23 19:09] mgmart commented on #140
Collected in Requirements

[2017-01-23 19:09] #140 closed

[2017-01-23 19:10] mgmart commented on #123
Collected in Software Architecture

[2017-01-23 19:10] #123 closed

[2017-01-23 19:10] #120 closed

[2017-01-23 19:11] mgmart commented on #79
Collected in requirements

[2017-01-23 19:11] #79 closed

[2017-01-23 19:11] mgmart commented on #78
Collected in Requirements

[2017-01-23 19:11] #78 closed

[2017-01-23 19:13] mgmart commented on #60
Requirements does not explicitly mention BitTorrentSync at the moment. But topic is covered by pluggable sync modules.

[2017-01-23 19:13] #60 closed

[2017-01-23 19:15] mgmart commented on #49
This is quite old and no traffic. Please reopen if still true with the new version (available soon 🦄)

[2017-01-23 19:15] #49 closed

[2017-01-23 19:16] mgmart commented on #23
covered by requirements

[2017-01-23 19:16] #23 closed

[2017-01-23 19:17] mgmart commented on #101
v2 will use storyboards

[2017-01-23 19:17] #101 closed

[2017-01-23 19:17] mgmart commented on #102
v2 will be Swift only

[2017-01-23 19:17] #102 closed

[2017-01-24 06:39] mgmart opened #150 "Right Side Whitespace on iPAd"
On iPad the right side of Outline view is misaligned.
There is more whitespace in landscape mode.
The bigger the screen the more visible the effect is.

[2017-01-24 06:46] mgmart opened #151 "Capture List has whitespace left and right"
Same effect as outline (#150). Difference is that content is centred.

[2017-01-24 09:40] mgmart opened #153 "Change is not reflected in UI if "Unlink from Dropbox" is pressed"
Text in Setting Screen remains red and "Unlink from Dropbox" instead of green and "Link to Dropbox"

[2017-01-24 10:34] paulelms commented on #91
I can't believe that the MobileOrg is back, thanks to all!

Pavel (Paul)
iPhone 5 + Apple Watch, iPad Air 2
iOS public beta
WebDAV

[2017-01-24 14:32] webframp commented on #91
@fdhidalgo @abradd @WilsonChiang @alf @mkasu and @paulelms If you send me your apple ids I will add you to the external testers list

[2017-01-24 14:34] ckruse commented on #91
For how long is the test period planned? I'm eagerly awaiting a new release... ;-)

[2017-01-24 14:39] webframp commented on #91
@ckruse depends on how many bugs are found and how much feedback we get 😁
I don't expect it will need to go on much longer for the v1.7 release, it seems stable and we have fixed the few bugs we've been able to identify.

[2017-01-24 18:26] mgmart commented on #109
Collected in Requirements

[2017-01-24 18:26] #109 closed

[2017-01-24 18:28] mgmart commented on #108
Collected in requirements

[2017-01-24 18:28] #108 closed

[2017-01-24 18:29] mgmart commented on #105
Seems to do any harm if they're not.

[2017-01-24 18:29] #105 closed

[2017-01-24 18:30] mgmart commented on #104
Collected in Requirements

[2017-01-24 18:30] #104 closed

[2017-01-24 18:33] mgmart commented on #103
Collected in requirements

[2017-01-24 18:33] #103 closed

[2017-01-24 18:39] mgmart commented on #64
Collected in requirements

[2017-01-24 18:39] #64 closed

[2017-01-24 18:41] mgmart commented on #38
Is this the time stamp created by capture?

[2017-01-24 18:42] mgmart commented on #36
Collected in requirements

[2017-01-24 18:42] #36 closed

[2017-01-24 18:46] michel-slm commented on #91
@webframp work issued me an iPhone and I've been missing MobileOrg ever since (1.6.1 Dropbox login seems broken) - if you could add me to the TestFlight beta that would be great!

Michel Alexandre Salim
iPhone 6s
iOS 10.2.1
Dropbox

[2017-01-24 18:48] webframp commented on #91
@michel-slm ok send me your apple id.

Feedback from beta users would be much appreciated, so far it has been very limited.

[2017-01-24 18:49] webframp commented on #91
Re-opening this issue until TestFlight testing is closed for beta v1.7.1

[2017-01-24 18:54] therockmandolinist commented on #91
If this is still going on, count me in:

Diego A. Mundo
iPhone 5
iOS 10.2.1
Dropbox

[2017-01-24 18:55] mgmart commented on #33
Collected in requirements

[2017-01-24 18:55] #33 closed

[2017-01-24 18:57] mgmart commented on #51
collected in requirements

[2017-01-24 18:57] #51 closed

[2017-01-24 18:58] webframp commented on #91
@therockmandolinist will just need your apple id. I'll add you then you can use the beta and provide feedback and crash reports

[2017-01-24 19:01] mgmart commented on #25
collected in requirements

[2017-01-24 19:01] #25 closed

[2017-01-24 19:03] mgmart commented on #15
collected in requirements

[2017-01-24 19:03] #15 closed

[2017-01-24 21:42] #150 closed

[2017-01-24 21:42] #151 closed

[2017-01-24 21:42] #153 closed

[2017-01-25 08:14] paulelms commented on #91
@webframp
appleid: paul@elms.pro

[2017-01-25 08:25] paulelms commented on #100
- capture + refile
- something similar to GTD
- agenda
- babel
- personal wiki and journal
- attachments
- encryption

[2017-01-25 08:29] paulelms commented on #100
BTW, awesome tutorial on org-mode: http://doc.norang.ca/org-mode.html

[2017-01-25 09:16] mgmart commented on #91
Sorry for hijacking this thread. But it's the only thread where I could get a notification to all beta-testers 🦄

We've started work on v2 and we need your input.
The[ specification document](https://github.com/MobileOrg/mobileorg.next/blob/specification/docs/MobileOrgv2.org#software-architecture) evolves slowly and there are things we would [like to discuss].
(https://github.com/MobileOrg/mobileo

[2017-01-25 13:21] webframp commented on #100
@feoh we're also trying to improve the doc site: https://mobileorg.github.io/  if you could create [an issue on the repo for that site](https://github.com/MobileOrg/mobileorg.github.io/issues) describing what troubles you had we'll try and update things to make it easier to get setup. That's important for the current version as well as the planned v2

[2017-01-25 17:08] mgmart opened #154 "Editor Window (for existing note) is too small"

[2017-01-25 17:09] mgmart opened #155 "It's not possible to create a new tag"
No entry field in alert box

[2017-01-25 23:34] #155 closed

[2017-01-25 23:35] #154 closed

[2017-01-26 03:59] webframp opened #158 "Build warning: 'getter' attribute on property 'deleted'"
Part of cleaning up the warnings:

'getter' attribute on property 'deleted' does not match the property inherited from 'NSManagedObject'

I'd like to clean up all warnings, but there's diminishing value in it for the few left

[2017-01-26 04:11] webframp opened #160 "Consistent usage of "Org mode""
Might as well agree on one way to use it: "Org mode" matches emacs best

[2017-01-26 17:33] jonathanwilner commented on #91
Jonathan Wilner
iPhone 7 Plus, iPad Pro 12.9, IPhone 6 Plus, Apple Watch Series 1
iOS 10.2.1, WatchOS 3.1.3
Dropbox

[2017-01-27 08:09] mgmart opened #162 "AppIcon.adhoc (beta) should be used for TestFlight builds"

[2017-01-27 08:28] #160 closed

[2017-01-27 15:05] #158 closed

[2017-01-30 21:04] dnesbitt03qub commented on #91
David
iPhone 7
10.2.1
Dropbox

[2017-01-30 21:07] jonathanwilner opened #163 "Heading level skips (again ...)"
I built and installed from HEAD onto my 7Plus. It's working great to sync and use MobileOrg when in the emulator, but I am crashing on the real device when attempting to sync a relatively large org-file. It crashes before finishing transfering all the agenda files, leaving me with the right list of files from index.org, but each of them are apparently empty.

[2017-01-30 21:11] mgmart commented on #163
Could you run the app from xCode on the device and provide detailed information on the crash?

[2017-01-30 21:36] webframp commented on #91
Closing this issue now since v1.7.1 has been sent for review. Thanks beta testers.

@jonathanwilner @dnesbitt03qub since you just posted, just send me your apple ids if you want and I'll add you in for the next round of testing whenever it is needed.

[2017-01-30 21:36] #91 closed

[2017-01-30 23:16] webframp commented on #163
Thanks for reporting this @jonathanwilner.

I definitely haven't seen this any betas in my testing and i personally use the Dropbox integration. Please let us know what we can do to reproduce, interested to see what the issue is.

[2017-01-31 03:58] jonathanwilner commented on #163
I'm not an IOS developer or XCode expert, so I might be doing something wrong, but I am not getting any debug info or crash logging on the device, it just basically stops. I've tried to step through the debugger, but not catching anything yet. It's always on the largest file, but even when I've cut it down to a small size (just one year of notes + tasks), still it happens.

I am NOT getting this p

[2017-01-31 05:07] webframp opened #166 "Clarify encryption setting"
Determine export requirements for encryption and if we can safely set:

[code]

[2017-01-31 08:40] exilsteira opened #167 "WebDAV connection fails"
Connecting to my company's WebDAV server failed. The error message was "Failure" while downloading checksums.dat. After removing all files from my server the error remained.
I then tried version 1.6.1 which did the job. The connection to the server was established via VPN in both cases.

[2017-01-31 08:54] mgmart commented on #167
I assume we're talking about SharePoint WebDav (from what I saw on twitter). Thanks for reporting it here.

Unfortunately we got no feedback from our beta-testers :feelsgood:. Which makes it a bit troublesome for you now.

Some questions:
- Is `checksums.dat` present?
- Is there some further description on the "Failure"?
- Could you try to connect MobileOrg to another (local?) WebDAV server?

If y

[2017-01-31 09:15] exilsteira commented on #167
Yes, it's SharePoint WebDAV.

- checksums.dat and any other files are present.
- There is no further info on the type of failure.
- I don't have access to another WebDAV server.

I pasted the WebDAV link to Safari and was connected as expected. Also, switching back to version 1.6.1 worked properly.

[2017-01-31 09:24] xkpd3 commented on #167
Hello,
I have the same issue with version 1.7.1 on iOS. I'm connecting to a webdav server provided by [Seafile](https://manual.seafile.com/extension/webdav.html).

The connection is done via SSL and a self signed certificate.

I have created a test account for you [HERE](https://gist.github.com/xkpd3/0c4a9f2be3d028376d1e11b7de5cdfd2), so you can play around with it.

Best Regards,
Stefan

[2017-01-31 11:36] stormlash commented on #167
I've had the same issue as well; I haven't been able to run any of the
TestFlight betas against my WebDAV setup.

On Tue, Jan 31, 2017 at 4:25 AM Stefan Hagen <notifications@github.com>
wrote:

--
Peter Sahlstrom
peter@stormlash.net
http://peter.stormlash.net

[2017-01-31 11:37] mgmart commented on #167
@xkpd3 thank you for the test-setup

The error is related to the self signed certificate. We did not have tested that.
Don't know long it would take to fix that. We need to implement some workflow in very old code.
Are you aware of [Let's Encrypt](https://letsencrypt.org)?

@exilsteira, just to make sure. The server you're connecting to uses also self signed certificates?

[2017-01-31 11:57] mgmart commented on #167
Would it be an acceptable workaround to use an officially signed certificate or http-only for the time being?

Beside of [Let's Encrypt](https://letsencrypt.org) there is also [StartSSL](https://www.startssl.com) who offers a free certificate. Maybe others but I only know those two.

Updated [Known Issues](https://mobileorg.github.io/#known-issues).

[2017-01-31 12:32] exilsteira commented on #167
The server is http:// and can only be accessed within the company network or VPN. I'm pretty sure that VPN uses a self signed certificate.

[2017-01-31 12:48] xkpd3 commented on #167
@mgmart: I'm aware of letsencrypt and I will change certificates in about a week, because I've hit the certificate request limit for this domain while testing and writing the renewal script.

Good to know that this issue is due to the certificate.

[2017-01-31 13:08] xkpd3 commented on #167
@mgmart: This was indeed the issue. I replaced the certificate with one from Symantec and it works fine now.

[2017-01-31 13:13] mgmart commented on #167
@exilsteira I would then presume that your error has an other reason. MobileOrg is not aware of the VPN connection and we're talking about a plain http:// connection in your case.
Would you like to join in out beta-test? We could provide you with a special version where we could get some more information dumped then.

[2017-01-31 13:14] mgmart commented on #167
@xkpd3 Good to know. Thanks again for the test-setup, that made it very easy to track it down.

[2017-01-31 13:47] webframp commented on #167
@exilsteira Thanks for reporting here. We're going to work on getting a fix for the issue with self-signed certs. If you'd be able to assist with testing it I can add you to TestFlight, just send me your apple id.

[2017-01-31 18:35] mgmart commented on #166
If this is true, then not :(

http://stackoverflow.com/a/37619545

[2017-01-31 18:39] mgmart commented on #163
If you run the app from xCode and it crashes then there must be some stack trace visible in xCode. Most likely a code line is marked red. Also in the left sidepane (6th tab) there should be some information about the current state.

[2017-01-31 18:43] webframp commented on #166
![](https://i.stack.imgur.com/Exatr.png)

![](https://i.stack.imgur.com/Bo1Rr.png)

Based on this I believe the answer is Yes, because the only way encryption is used falls under *(e)*: Limited to authentication, digital signature or the decryption of data or files.

[2017-01-31 18:46] mgmart commented on #166
But we also encrypt files, don't we?

[2017-01-31 18:48] webframp commented on #166
If I understand the code right, then not as currently implemented, emacs org mode handles the encryption, MobileOrg needs the decryption key for display.

Our lives are easier if we stay compliant with *(a)* and *(e)* from that list.

[2017-01-31 18:50] webframp commented on #166
See also: https://discussions.apple.com/thread/3228320?start=15&tstart=0

[2017-01-31 18:51] mgmart commented on #166
Yeah, sure. If we really do not encrypt captures before transfer (haven't checked that) then we should overthink the whole encryption. ;)

[2017-01-31 18:54] mgmart commented on #166
If I understood that correctly (only flown over) then symmetrical encryption is fine. Would make sense. Then it's a yes.

Remains the question what happens to captures if encryption is switched on :)

[2017-01-31 21:14] webframp opened #168 "Make the app split-able to allow side-by-side use on supported devices"
User suggested feature, research what's required. If work is minor, could be incorporated into v1 release.

[2017-01-31 22:58] jonathanwilner commented on #163
@mgmart is it possible that iOS doesn't think it's a crash, but just the program exiting? Honestly, I could post a screen capture / video that shows it just stopping with no info in xCode.

[2017-02-01 04:21] webframp commented on #166
Details from [org-mobile.el](http://orgmode.org/cgit.cgi/org-mode.git/tree/lisp/org-mobile.el#n105)

In our codebase encryption appears to be used only on sync: https://github.com/MobileOrg/mobileorg/blob/71e01165eb5f9bb9d541d25009f45d8986bea9aa/Classes/Sync/SyncManager.m#L306

Not on capture: https://github.com/MobileOrg/mobileorg/blob/71e01165eb5f9bb9d541d25009f45d8986bea9aa/Classes/Capture/NewN

[2017-02-01 16:30] mgmart commented on #163
Thought the app was crashing because you wrote it was crashing :smile:

I assume a problem with the amount of entries.
What I understood is, that you have many entries in the file. Is the following assumption correct?

- 6 years
  - 12 month per year
    - about 30 day entries per month
       - some subentries per day

That would be 2000 - 3000 lines with stars at the beginning?

Can you tell how

[2017-02-01 16:47] abradd commented on #163
As a point of reference, my largest file has 1231 headlines (with stars), just over 10,000 lines (with and without stars) and is 476 kB and this is loaded fine. I even pulled this entire file up in Document View and it worked (though it took a while to populate). My file uses date-tree format, but I separate each year into its own file.

I checked headline count with:

    (1- (length (org-map-ent

[2017-02-01 18:52] adnan-wahab opened #169 "app won't sync"
tried with a blank .emacs config and same result

https://www.dropbox.com/s/4lpz8dx6hapm9sm/File%20Feb%2001%2C%208%2059%2011%20AM.png?dl=0

[2017-02-01 21:44] sk8ingdom commented on #140
I'd be very interested in this capability, is it planed for the 2.0 release?

[2017-02-02 08:11] mgmart commented on #167
In [Requirements for Connecting Using ATS](https://developer.apple.com/library/content/documentation/General/Reference/InfoPlistKeyReference/Articles/CocoaKeys.html#//apple_ref/doc/uid/TP40009251-SW57) Apple states that the trust-chain of a certificate must be evaluated.

Which means that self-signed certificates do only work with the root CA installed on the device.
Only way to fix this is by pro

[2017-02-02 08:21] mgmart commented on #169
Without knowing a bit more about your environment it's difficult to find an answer.

Did you follow the setup described in our [documentation](https://mobileorg.github.io) and Org mode's [documentation](http://orgmode.org/manual/MobileOrg.html#MobileOrg)?
Did you check wether the staging area is populated with files?
What iOS version are you on?
Do you use Dropbox or WebDav?

[2017-02-02 08:30] mgmart commented on #140
@sk8ingdom, at the moment it's covered in the [requirement document](https://github.com/MobileOrg/mobileorg.next/blob/specification/docs/MobileOrgv2.org#capture), before it could get planned we have to get an idea how to implement this.

If you like you could give some input on this (or other) requirement by providing in the [issues section of v2](https://github.com/MobileOrg/mobileorg.next/issues

[2017-02-02 13:32] adnan-wahab commented on #169
1. yes
2. the staging area is blank
3. latest ios
4. dropbox

[2017-02-02 13:36] webframp commented on #169
@adnan-wahab does org-mobile-push stage files in Dropbox for you?

[2017-02-02 13:51] mgmart commented on #169
@adnan-wahab
if 1. is yes, then there must be something in the staging-area :smile:
I think the solution should be easy.

- determine where `org-mobile-push` creates your staging-files
- change that accordingly to your dropbox configuration
- try again

@MobileOrg/developers
I've seen more occurrences of this issue on twitter and reddit.
From my point of view there are two action items:

- revise

[2017-02-02 13:53] mgmart commented on #168
What channel did the user use?

Don't know exactly but I'm pretty sure that auto-layout is needed to support split-view. If so, then that would be not so easy for v1.

[2017-02-02 13:58] mgmart commented on #167
@exilsteira
After investigating the issue a bit more, I think the reason is the http connection you are using. Apple enforces the use of https with the latest iOS releases. We've to emphasise this in the documentation.

**WebDAV is not supported over http, only https**

Regardless wether the connection is by VPN or not.

[2017-02-02 14:00] webframp commented on #168
Emailed privately, if it's v2 that's fine

[2017-02-02 14:19] mgmart commented on #168
Just found out that it's quite easy to implement.

[2017-02-02 14:56] exilsteira commented on #167
Why does it work with v1.6.1 over http and not with v1.7.1?

[2017-02-02 14:58] webframp commented on #167
@exilsteira Apple made changes related to `NSURLSession` and related APIs. From the link shared by @mgmart:

[2017-02-02 17:16] mgmart opened #170 "Failed field validation deletes complete entry"
In Settings/Sync/Webdav

If URL field validation fails, an error is displayed to the user and then the field is blanked. My expectation would be that the text the user has entered stays untouched so that the user can correct instead of typing everything again.

Maybe this is true for other fields too.

[2017-02-02 21:12] sk8ingdom commented on #140
@mgmart thanks for the update! I'll be sure to look through the issues.

[2017-02-03 03:52] exilsteira commented on #167
Guys, thank you very much for your help. I guess I'm going to have a hard time with our IT to find a way for enabling data exchange.

Regards,
andi

[2017-02-03 07:29] mgmart commented on #169
@adnan-wahab can you tell which version of org and emacs you are using?
Ideally you could post the complete output of `org-version` and `emacs-version`.

[2017-02-03 20:01] mgmart commented on #167
@exilsteira, it's always an good idea to secure any services. Also services which are only accessed from the inside.

Maybe this helps: http://www.cio.de/a/die-groesste-gefahr-kommt-von-innen,2921119

[2017-02-03 20:12] #168 closed

[2017-02-04 09:37] mgmart commented on #170
Fixed in #171

[2017-02-04 09:37] #170 closed

[2017-02-04 09:41] mgmart commented on #169
Error messages are revised in #171

[2017-02-04 09:41] #169 closed

[2017-02-04 09:43] mgmart commented on #167
As it's an ATS error only better documentation => MobileOrg/mobileorg.github.io#14 and clearer error messages => #171 could be provided.

[2017-02-04 09:43] #167 closed

[2017-02-04 09:43] mgmart commented on #163
@jonathanwilner Any news on this?

[2017-02-04 09:46] mgmart commented on #166
[v2 requirements](https://github.com/MobileOrg/mobileorg.next/blob/specification/docs/MobileOrgv2.org#encryption) must be taken in considerationd

[2017-02-04 16:08] mkasu commented on #169
I upgraded to the TestFlight beta from today and now I can't sync anymore. I'm not sure if it's related to this issue. My screen just says "Syncing orgmode files.. mobileorg.org" and hangs forever. I'm using WebDAV.

[2017-02-04 17:29] mgmart commented on #169
@mkasu, thank you for reporting this.

We have rewritten the WebDAV code for this release. So this was most likely to happen. We need somehow to reproduce this. As our tests are all successful, we need to find out what triggers this behaviour.

With 1.7.1. (App Store release) everything still works fine?
Does the app recover if you kill it?

Could you provide some more information on your environm

[2017-02-04 17:47] jonathanwilner commented on #163
@mgmart : I haven't tried XCode again, but I have been able to get MobileOrg to complete syncing on the iPhone, by cutting back and manually editing the org file. What I found is that ANY gaps or sequence skips in the order of headlines breaks the viewer on any device. The difference for me is that the emulator will sync the files and sort of work, same as the iPad Pro, whereas the iPhone will exi

[2017-02-04 18:00] mgmart commented on #163
Great, that's something we must be able to reproduce in some way. It's a shame, though. We have tackled this particular scenario in #62.

Just for reference, as it seems not to be the amount of headlines which is causing this particular problem.
Paste the code in a separate line at the end of your org-file. Position the cursor after the last parenthesis and press `C-x C-e` and you should see the r

[2017-02-04 18:02] jonathanwilner commented on #163
😁 - exactly! I did try to execute the code in the region first, but
something must be off. Trying again now.

On Sat, Feb 4, 2017 at 10:00 AM, Mario Martelli <notifications@github.com>
wrote:

[2017-02-04 18:06] abradd opened #173 "Xcode compiled app crashes when switching to Dropbox if AppKey.plist isn't populated"
If the AppKey.plist isn't populated and the user switches to Dropbox in settings the app crashes and continuously crashes when attempting to start. Would be nice if this was handled more gracefully by warning the user or allowing them to select another option. Otherwise updating the documentation may help.

Xcode catches the crash if you compile while having Dropbox selected, but if you are compil

[2017-02-04 18:09] mgmart commented on #173
Good point 😄

[2017-02-04 18:25] jonathanwilner commented on #163
The result appears to be 2509 in the larger file.

On Sat, Feb 4, 2017 at 10:02 AM, Jonathan Wilner <jonathan@teamwilner.com>
wrote:

[2017-02-04 19:40] mgmart commented on #163
It seems, that the content is not cut off. Instead it is wrongly indented

* Headline 1
  ** Subsection 2
  **** Subsection 4
* Headline 2

In my test scenario `Headline 2` is on the same level as `Subsection 4` in MobileOrg

[2017-02-04 20:56] mgmart opened #174 "Core Data Concurrency Problem"
At the bottom of #169 @mkasu reported a sync problem.

This is most likely a Core Data concurrency problem which occurred sometimes after the rewrite of the WebDAV code. The assumption is that the code now works way faster than before and that's too fast for Core Data 😄

[2017-02-05 00:18] mkasu commented on #174
Thanks for opening the ticket. I'll put my reply here.

* With 1.7.1. (App Store release) everything still works fine?
* Does the app recover if you kill it?
* iOS device, iOS version

I'm using an iPhone 6S+ and iPad Air 2, both with iOS 10.2.1. The iPhone currently has TestFlight 1.7.2 and the iPad AppStore 1.7.1 so I can test it forth and back. The iPhone keeps hanging on every sync, the iPad w

[2017-02-05 00:25] mgmart commented on #174
@mkasu it's most likely a Core Data problem. It's already addressed in #172 . So, no need to test further until the next TestFlight release.

If you like you could try to build from my fork. But that only makes sense if you have some experience with xCode. Otherwise it will be more trouble than help for you.

[2017-02-05 01:13] webframp commented on #174
I just want to say thanks @mkasu for the detailed report. It's the best detail we've received from a TestFlight user so far.

[2017-02-10 10:13] mgmart opened #175 "Is the use of a crash reporter worth the effort?"
The last bugs reported by users were somehow hard to track down. We can't ask the user for their org files. Therefore to have access to crash reports might help. As it seems there were no crash reports provided within the Apple world (TestFlight, Xcode, ...).

The use of an external service might help here. I stumbled across [Hockey App](https://hockeyapp.net) which is free for up to two Apps. The

[2017-02-13 19:49] #163 closed

[2017-02-13 19:49] #173 closed

[2017-02-13 19:49] #174 closed

[2017-02-16 13:43] webframp opened #176 "TestFligth beta: v1.7.2"
This issue concerns current TestFlight external testers and especially those who use webdav.

Build 236 is available to external testers now. For those who have had issues with webdav, such as @stormlash, @xkpd3 or others please test the webdav syncing and let me know.

This build should also have a fix for the heading bug identified in #85

Please post comments on this issue or send the feedback

[2017-02-20 19:39] jonmoore commented on #100
- todos
- organizing reading list and notes

Features I'd like: integration with the iOS "Send to" system, in particular I'd like to be able to send URLs from Safari to MobileOrg, and to send items from MobileOrg as email.

[2017-02-22 03:58] webframp commented on #176
Haven't heard any feedback so far, can only assume things are working well with beta users. I'll let a little more time pass then release the current beta as v1.7.2

[2017-02-22 06:52] laurynas-biveinis opened #177 "Crashes if wrong encryption password is used during sync"
I have several large org files I'd like to sync with MobileOrg, using Dropbox.

In 1.7.1 from AppStore, a sync proceeds with several files, fills a progress bar for one of them, pauses, and quits the app.

In current git version running in a simulator, the same set of files results in sync stopped at an earlier file, and gives a "Bad file encoding", "Unable to detect file encoding, please re-save

[2017-02-22 07:11] mgmart commented on #177
That's bad. We should at least provide enough information in the error message.

Could you please check for `utf8` in your staging area? Maybe the `editsFile` is the cause of the problem.

If that's not the case we have to dig further a bit.

[2017-02-22 07:12] mgmart opened #178 "Provide error message if wrong encryption password is used"
At least true for the **Bad File Encoding** error message. (#177 )

[2017-02-22 07:17] laurynas-biveinis commented on #177
I might be confusing which dir I should look at - but the app directory in Dropbox does not have a file named editsFile, it only has checksums.dat in ASCII and the rest are encrypted binary files? Should I look somewhere else?

[2017-02-22 07:20] mgmart commented on #177
Do you use file encryption?

[2017-02-22 07:22] laurynas-biveinis commented on #177
Yes. Trying without...

[2017-02-22 07:33] laurynas-biveinis commented on #177
OK! The results without encryption are: 1.7.1 crashes the same. 1.7.2 works

[2017-02-22 07:43] mgmart commented on #177
The 1.7.1 crash could be caused by #174 although this has only happened with WebDAV so far. But maybe it's because of *large* files

[2017-02-22 07:46] laurynas-biveinis commented on #177
The largest file in the 1.7.2 staging area, unencrypted, is 1.2MB

[2017-02-22 09:59] mgmart commented on #177
That's big 😄

Could you make sure that the password you are using is correctly entered in MobileOrg's settings? Somehow a wrong or not set password results also in `bad file encoding`

[2017-02-22 10:15] laurynas-biveinis commented on #177
All previous 1.7.2 tests, including encrypted file ones, have been with no password entered (I forgot that I'm using encryption)

Not sure what was the password status of 1.7.1 before, likely it was present and correct. It still crashes with it re-entered.

1.7.2 with correct password works correctly too

[2017-02-22 10:27] mgmart commented on #177
Good to know. Regarding 1.7.1 we [have some bugs fixed](https://github.com/MobileOrg/mobileorg/milestone/4?closed=1).

Sorry for the inconvenience. I'll investigate how we can signal that the password is missing.

[2017-02-22 17:32] mgmart commented on #178
Was: "Error messages do not have causing file included"

The initial issue #177 does not create an error message. In the case of bad file encoding a node is created with the body containing the error message.

[2017-02-23 21:56] jonathanwilner opened #180 "Duplicate Agenda entries due to spacing/indentation"
All,

I'm getting duplicate entries in the agenda view (agendas.org) when org-mobile-push exports from agenda files in org mode.

In the original org file, each appointment is top level * with :PROPERTIES for the scheduled time & then the notes as subtext, not w/indented sub-bullets.

EXAMPLE (redacted) from my agenda file:

* David:Jonathan 1:1 (updated)
  :PROPERTIES:
  :LOCATION: https://zoom.u

[2017-02-25 06:46] aaronjensen opened #181 "Incorrect updates being written when there is no id and item changed via agenda view"
With `org-mobile-force-id-on-agenda-items` set to `nil` I'm seeing updates sent to mobileorg.org that don't have any identifier at all if I make a change via an agenda view. One looks like this:

[code]

This is after marking a todo as done via the agenda todo view and syncing.

If I mark the same TODO as done via MobileOrg in the actual org file it is in, it works properly.

Thanks much for mobil

[2017-02-28 13:01] #177 closed

[2017-02-28 13:42] webframp commented on #166
libsodium would be my preferred crypto lib, two swift bindings:
* https://github.com/drewcrawford/NaOH
* https://github.com/jedisct1/swift-sodium

Doesn't address any gpg needs, but useful reference

[2017-03-01 21:17] robertsck opened #182 "Incorrect parsing if a heading level skipped"
I ran across an issue today where a file is incorrectly parsed if a heading level is skipped. All file content is synced, however, on MobileOrg the heading levels are wrong.

A simple example:

Org file: (Notice subheading 2.1 skips a heading level)

* Heading 1
** Sub-heading 1.1
** Sub-heading 1.2
* Heading 2
*** Sub-heading 2.1
* Heading 3
** Sub-heading 3.1

See the screen shots to see the eff

[2017-03-01 22:02] jonathanwilner commented on #182
Is this possibly the same as #163?

[2017-03-02 01:43] robertsck commented on #182
I don't think so. The app is not closing or crashing. Everything is synced,
it's just that the heading levels do not match from computer to MobileOrg.

I'm testing the Master build on my device. I can try the Develop branch and
Xcode emulator to see if those permutations make any difference.

On March 1, 2017 at 5:02:06 PM, jonathanwilner (notifications@github.com)
wrote:

[2017-03-06 16:28] mgmart commented on #182
@robertsck did you have success with `develop`?

[2017-03-06 16:30] mgmart commented on #178
done in #179

[2017-03-06 16:30] #178 closed

[2017-03-06 19:36] robertsck commented on #182
Just tested this on Develop and it does appear to be working correctly.
I’ll stick with Develop going forward to prevent confusion.

Chris

On March 6, 2017 at 11:28:06 AM, Mario Martelli (notifications@github.com)
wrote:

@robertsck <https://github.com/robertsck> did you have success with develop?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHu

[2017-03-06 19:40] #182 closed

[2017-03-09 01:30] ashmanskas commented on #100
There is a commercial (but user-extensible) iOS program called Editorial that does nice outline folding, but it works with Markdown rather than orgmode.  Many people have wished that Editorial could edit (or at least view) orgmode.  Perhaps some parts of Editorial's UI could serve as inspiration for the new mobileorg?

https://forum.omz-software.com/topic/2023/feature-org-mode-support

http://omz-

[2017-04-08 16:31] aaronjensen commented on #181
This appears to be fixed by: https://lists.gnu.org/archive/html/emacs-orgmode/2017-04/msg00062.html

[2017-04-09 06:32] #181 closed

[2017-04-12 14:10] sitaktif opened #184 "DropBox sync not working"
After installing the application for the first time and setting the DropBox sync in the settings (authorizing MobileOrg for DropBox changes), the sync doesn't work.

Tapping the sync shows:

---

**Syncing changes**
mobileorg.org

---

Then I get the following error:

---

**Error syncing changes**
An error was encountered while attempting to fetch mobileorg.org from the server. The error was:

[r

[2017-04-12 14:17] sitaktif commented on #184
Ha, there was no update available the first time I tried but I see this issue is fixed in 1.7.2, thanks!

[2017-04-12 14:17] #184 closed

[2017-04-12 15:28] webframp commented on #176
This version has passed review and has been officially released.

[2017-04-12 15:28] #176 closed

[2017-04-12 15:30] webframp commented on #175
I've head good things about Hockey App, but haven't used it myself.

[2017-04-13 13:18] stormlash opened #185 "Freezes occur on subsequent syncs over WebDAV"
Ever since upgrading to 1.7.2, I find that mobileorg.org regularly freezes while showing "Syncing Org-files: mobileorg.org".

Steps to reproduce:
1) Launch MobileOrg
2) Sync. It will sync the Org-files and complete successfully
3) Sync again. It will report "Syncing changes" and iterate through "mobileorg.org", "checksums.dat", and "index.org" before displaying "mobileorg.org" again and pausing. A

[2017-04-13 17:13] mgmart commented on #185
Did this also happen with the TestFlight version?

[2017-04-13 18:14] stormlash commented on #185
No idea. TestFlight didn't notify me that a new version was available, and
currently does not list me as an approved tester.

On Thu, Apr 13, 2017 at 1:13 PM, Mario Martelli <notifications@github.com>
wrote:

--
Peter Sahlstrom
peter@stormlash.net
http://peter.stormlash.net

[2017-04-26 07:31] ustcpxy commented on #185
after upgraded to 1.7.2, I also have this issue.
Configuration:
iPhone 6s
MobileOrg 1.7.2
WebDAV sync (using https and a trusted self-signed certificate)

[2017-04-26 08:06] mgmart commented on #185
It seems it comes down to the self signed certificates.

There could be a different behaviour of iOS whether you're testing the certificates or the CA. Trusting the CA is the preferred way.

We do need a test environment for that. I could imagine that using this [docker repo](https://hub.docker.com/r/phylor/webdav-ssl/) could help to create (automated) tests for this issue.

PRs containing a test

[2017-04-26 08:16] mgmart commented on #95
#185 is the next issue which could have been prevented if there would be proper unit tests for WebDAV.

Best approach seems to be using a [docker repo](https://hub.docker.com/r/phylor/webdav-ssl/) which can be configured with trusted self signed and 'real' certificates.

[2017-04-26 17:57] mgmart commented on #185
Could it be that the freeze only happens if changes on the iPhone are synced back to the server?

[2017-04-26 19:14] stormlash commented on #185
Yes, I think that's quite possible - though I still see it even if nothing has changed on the iPhone.

[2017-04-26 19:44] stormlash commented on #185
Ok - so I'm pretty convinced that this isn't related to certificate signing. I bit the bullet and swapped out my webdav cert with one generated through LetsEncrypt (which is automatically trusted by my iPhone), but the behavior is exactly the same: the sync freezes while displaying "Syncing Org-files".

[2017-04-26 20:13] mgmart commented on #185
Thank you @stormlash. That helps. I think I've found the issue.

[2017-04-27 18:24] mgmart opened #187 "Outline badge is not removed immediately after syncing"
<img width="188" alt="glass" src="https://cloud.githubusercontent.com/assets/3919652/25498217/6c6c9dca-2b87-11e7-9c9d-6c7479fc4e5e.png">

[2017-04-28 12:16] rosenbergbd opened #188 "Dropbox sync stopped working"
Dropbox sync on my mobile device has mysteriously stopped working. No configurations have changed as far as I can tell.

Emacs on my desktop is correctly pushing data to Dropbox.
However: Mobileorg app on my device is not pulling new data from my org mode files on Dropbox, and it is not pushing new captures to mobileorg.org.

There's a file on Dropbox called "mobileorg (rosenbergbd's conflicted co

[2017-04-28 12:29] rosenbergbd commented on #188
Update: this appears to be a dropbox sync issue, and not a mobileorg issue. I am investigating and will update this issue once I confirm.

[2017-04-28 12:33] rosenbergbd commented on #188
Confirmed. The dropbox sync agent on my desktop had crashed silently and was not actually pushing changes to dropbox.
Not a mobileorg issue.

[2017-04-28 12:33] #188 closed

[2017-05-04 16:20] mgmart commented on #95
WebDAV Server using docker was added.
https://github.com/MobileOrg/mobileorg/pull/186/commits/83b74dfbdf2ba657ac0017eb9d5ed5a2fe4994ea

[2017-05-04 16:20] #95 closed

[2017-05-12 06:56] frapples commented on #185
When I updated the softwore to 1.7.2 version, I found the password feature can not use. :sob: :sob: :sob:  I want to install 1.7.1, but IOS can not do it.

[2017-05-12 07:03] mgmart commented on #185
@frapples, could you please give some details what your issue with password is about?

I would suggest to create a new issue with some details like iOS version, device, sync-method etc.
And of course as much detail as possible about the problem itself.

[2017-05-12 12:01] webframp commented on #185
@frapples if you can give the details @mgmart mentioned that would help. We can also add you to the next round if TestFlight testing if you want to then confirm the fix

[2017-05-12 12:15] frapples opened #189 "Version 1.7.2 of Encrypted features are buggy"
Some info:
[code]

My configuration in the previous version 1.7.1 is no problem, it works fine.

One day I updated MobileOrg, when I sync on the phone, the display of the error message:
[code]
I tried to delete the files inside my webDav,
and then put my org file inside only into English (my mother tongue is not ASCII characters), again synchronized.
But the problem remains the same.So the reasion

[2017-05-12 18:37] mgmart commented on #189
I could only reproduce the issue with the password field not being initialised in settings-view.

Maybe this has caused the hassle. Once #190 is merged we will see further on this issue.

[2017-05-13 08:04] clfest opened #191 "mobileorg seems to have bug sometime when syncing from iPhone"
I use Dropbox. It seems when I sync from the iPhone on a topic that MobileOrg has written an ID number on, the text reverts back to what the dropbox document has, the 'old' one. The mobileorg.org on dropbox seems to have the appropriate editing commands in it, so that when I pull it from my emacs and push it and sync my iPhone with it, it is correct. The problem is making more than one editing com

[2017-05-13 08:26] mgmart commented on #191
Could this be related to #181?

[2017-05-13 09:37] mgmart commented on #191
@clfest, do you use `org-mobile-force-id-on-agenda-items`?

[2017-05-14 09:29] clfest commented on #191
I'm a little rusty on lisp-type syntax, but if you mean is
org-mobile-force-id-on-agenda-items mentioned in my .emacs file, no it is
not.
NB: the above phenomenon occurs with a regular .org file, NOT with an
agenda file.

On Sat, May 13, 2017 at 2:37 AM, Mario Martelli <notifications@github.com>
wrote:

[2017-05-14 10:11] mgmart commented on #191
Tried to reproduce this issue:

- Edit the body text of an item which has a mobile-org-id
- Sync with dropbox
- Add more text to body
- Sync with dropbox
- Add more text
- Sync with dropbox

Outcome was as expected.

Could you try to reproduce this with the testdata available at https://github.com/MobileOrg/mobileorg/tree/develop/MobileOrgTests/Resources ?

[2017-05-14 10:17] mgmart opened #193 "Item editing should be cancellable"
Once text is edited, done button should be enabled.

Also it would be expected that the back button would trigger a cancel operation.

<img width="187" alt="glass" src="https://cloud.githubusercontent.com/assets/3919652/26032893/259add9c-389f-11e7-8f14-0f3c35795e88.png">

[2017-05-14 10:38] mgmart commented on #191
MobileOrg iOS TestData/And one more thing/learn a new language

is the item which is used for my reproduction attempt

[2017-05-15 08:22] #141 closed

[2017-05-19 20:56] stormlash commented on #185
I've finally set up MobileOrg in Xcode on my Mac so that I can be more effective in helping to test this - and I'm sorry to say that even when testing against an up-to-date "develop" branch the program still hangs on "Syncing changes - mobileorg.org".

I'll continue investigating, but welcome any tips about how to identify where the hang is occurring - I'm fairly new to developing within xcode.

[2017-05-19 21:08] stormlash commented on #185
I'm retracting my previous statement (which I've also deleted) - the fixes do address my issue. (I had been building off the MobileOrg fork, not the mgmart fork.) Sorry for the false alarm!

[2017-05-24 16:44] pvinis opened #195 "suggestion for todo states with swipe"
hello.
i thought it would be cool to do this:
lets say we have a list item, that is `TODO`. then i can swipe to the right, and it will go to `NEXT`. then i can swipe again and it will go to `DONE`. swiping left will put it back to `NEXT`.

does that sound interesting? it would be even better if it can get the "next" state the same way org-mode gets the next state, either by the top file todo tags,

[2017-06-18 07:31] clfest opened #196 "MobileOrg crashes all the time"
My MobileOrg app on my iPhone gets stuck in a mode where it refuses to open. That is when 'stuck' you can open it, and then it lasts for about a second, and crashes. I've tried powering down and then powering up my iPhone, but it doesn't seem to help. My only choice is to reinstall the app, but that loses the unsynced data in the iPhone's app. This and the previous bug I reported (when syncing, so

[2017-06-19 05:18] mgmart commented on #196
That sounds like an issue with Core Data. If you are sharing [sharing crash data with app developers](https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/AnalyzingCrashReports/AnalyzingCrashReports.html#//apple_ref/doc/uid/TP40012582-CH21-SW2), @webframp would be able to see your crash log.

You are referencing #191, which we were not able to reproduce. C

[2017-06-19 05:27] mgmart commented on #195
@pvinis,

sorry for late reply.

Could you please issue this idea in the project we've set up for the [next release of MobileOrg](https://github.com/MobileOrg/mobileorg.next)? The project is still active even if there was less to none participation in the last couple of month. I'm pretty sure that we would get up to light speed as soon as there are couple of collaborators willing to participate 🙂.

[2017-06-19 06:18] mgmart commented on #191
Could be related to #97

[2017-06-19 17:45] clfest commented on #196
My system seems to be set up a little different from what is described in the page that you referenced. In particular under Privacy there is no 'Diagnostics & Usage' tab. However there is an 'Analytics' tab, under which I've got 'Share iPhone Analytics', 'Share with App Developers' and 'Share iCloud Analytics' turned on.

I am not using encryption
I believe I am using the latest version of MobileO

[2017-06-20 05:43] mgmart commented on #196
That would be sufficient, @webframp should be able to access the crash-log.

Would be cool if you could try to reproduce #191 with the test-data  provided, in the meantime.

[2017-06-24 19:27] clfest commented on #191
Before I try to reproduce said defect, what evidence would you require?
Since the observed bug seems only to occur in the communication between the
iPhone's app and the Dropbox's data,
and I don't really have any way of getting the iPhone's data out directly,
what I anticipate is that the iPhone's data will revert back to the
previous one after I sync, which will mirror the data in
my computer, bu

[2017-06-25 06:59] mgmart commented on #191
[I was not able to reproduce the issue with the testdata](https://github.com/MobileOrg/mobileorg/issues/191#issuecomment-301302752).

If you are also not able to reproduce it with the testdata, we could change the testdata in the next step. To make it look more like the org-files you have. Maybe we could then find the cause of the issue.

[2017-07-08 18:49] laurynas-biveinis opened #197 "Crash on sync"
My setup is the same as in the fixed https://github.com/MobileOrg/mobileorg/issues/177. I have updated the app to 1.7.2, entered the correct encryption password, and synced. The progress bar goes through several files, stops at the end of one of them, and the app exits to the home screen. However, device logs do not seem to contain any MobileOrg crashes.

If I build "develop" branch in XCode, then

[2017-07-12 11:52] laurynas-biveinis commented on #197
FWIW I deployed "develop" to a device, and there it crashes the same as AppStore 1.7.2

[2017-07-12 12:38] laurynas-biveinis commented on #197
Here is what I see in the device log after a crash:

[code]

[2017-07-12 13:21] laurynas-biveinis commented on #197
The org file that causes app exit is 1.1MB sized. Running the app in Instruments with Allocations enabled shows 1GB peak allocation around the time of the sync of that file, coming from `-[OrgFileParser parse:]`

[2017-07-12 13:47] mgmart commented on #197
I have issued some pull requests which might solve the problem. You could try to build from one of my branches.

[2017-07-13 02:41] laurynas-biveinis commented on #197
Thanks @mgmart, could you suggest which one out of the four pull request branches I should try first?

[2017-07-13 03:55] mgmart commented on #197
Unfortunately I do not have access to the crash reports. Only @webframp can access those.
The device log could contain some valuable hints.

I think `bugfix/#185` is the only one which could help with your issue.

[2017-07-13 10:17] songxin1990 commented on #29
shit

[2017-07-13 11:28] laurynas-biveinis commented on #197
I have tried https://github.com/MobileOrg/mobileorg/pull/186, with the results exactly the same:

- runs fine in Simulator
- Instruments show 1GB peak heap use around the sync of the crashing file
- quits on the phone

[2017-07-13 12:01] mgmart commented on #197
Could you please attach the debug console output.

[2017-07-13 12:11] #185 closed

[2017-07-13 12:11] #189 closed

[2017-07-13 12:11] #187 closed

[2017-07-13 13:01] laurynas-biveinis commented on #197
I must be doing something wrong or misunderstanding the request - the debug console stays empty throughout execution both on simulator and on a device

[2017-07-13 13:13] mgmart commented on #197
Maybe only the variable-view-pane is active?

[2017-07-13 13:24] laurynas-biveinis commented on #197
The XCode bottom pane is divided into two and the right one has "All Output" selector chosen, yet empty. The Product -> Scheme -> MobileOrg is set to Build Configuration: Debug if that matters

[2017-07-13 13:32] mgmart commented on #197
That's strange. Will check this out this evening.

[2017-07-13 13:38] webframp commented on #197
@mgmart are you thinking this fix might be best to include in 1.7.3, if found?

[2017-07-13 13:48] mgmart commented on #197
'If found' might be the problem here. I've no idea what's happening.

[2017-07-15 05:25] mgmart commented on #197
@laurynas-biveinis, that was my bad. I'm using a private scheme with debug-breakpoints. That is the reason why nobody else than me is able to see console output. :feelsgood:

I'm investigating the possibilities to generate Org-files for testing at the moment. This could take a while. Another approach could be that I create a branch with my scheme included as public. I think we should go with the l

[2017-07-15 08:52] mgmart commented on #197
I ran a test with a [5.4MB file](https://github.com/mgmart/mobileorg/blob/debugLargeFileCrash(%23197)/MobileOrgTests/Resources/MobileOrgTestingSample.org). It peaked at 190MB of used memory. Syncing on device (iPhone 6plus) over Dropbox went fine without crash.

@laurynas-biveinis could you check what the outcome is if you are using the [testfile](https://github.com/mgmart/mobileorg/blob/debugLarg

[2017-07-17 04:08] laurynas-biveinis commented on #197
Since you have pushed to develop branch, first I have retried my previous tests with it, with same results (no crash in simulator, large mem peak, crash on device). Then I tried @mgmart testfile - to try it, I only changed org-agenda-files value, keeping the rest of my org-mode config intact. org-mobile-push took maybe 20x longer than with my usual files. Then, the simulator (iPhone 5) did not cra

[2017-07-17 04:28] laurynas-biveinis commented on #197
I should be available to join chat most of the European work day TZ

[2017-07-17 05:50] mgmart commented on #197
That's a shame I will be only available outside of those.

[2017-07-17 10:17] mgmart commented on #197
That means the test-file is the only large file?

Same here.

Before it peaked at 1GB, right?
Regarding the crash: I think we have to wait for @webframp to issue the TestFlight release. He has then access to the crash file.

[2017-07-17 12:11] laurynas-biveinis commented on #197
Yes.

Yes.

If it indeed crashes, why my local device log does not show it? It only said "<Notice>: report not saved because it is non-actionable" - will TestFlight reveal it?

[2017-07-17 12:15] ckruse commented on #197
It peaked at 1gb RAM usage? Then it is probably the OOM killer, isn't it? The iPhone 6 has 1GB of RAM.

[2017-07-17 12:16] laurynas-biveinis commented on #197
My original idea too - but the test file by @mgmart peaked at 150MB yet the app was closed the same

[2017-07-25 01:55] mika-fi opened #198 "Failure: -1001 while fetching checksum.dat from Nexcloud"
I use org-mobile version 1.7.2 on IOS using my own Nextcloud instance as a webdav server (it runs on ubuntu)

In Nextcloud I created a folder called Notes which contains index.org, checksum.dat (generated using md5sum) and Notes.org (which is referred to by a link in index.org)
I set all the parameters for org-mobile in emacs to enable org-mobile-push, which worked perfectly.

In the app, my webda

[2017-07-27 14:08] mgmart commented on #198
@mika-fi could you please recheck with the now available v1.7.3?

[2017-07-27 14:25] mgmart commented on #197
All the pending PRs are merged now and v1.7.3. is available. If it still crashes there might be at least the PC visible if the App was started from Xcode.

[2017-07-27 14:26] mgmart commented on #197
@laurynas-biveinis do you think you could find the major differences in structure between your large file and the  [testfile](https://github.com/mgmart/mobileorg/blob/debugLargeFileCrash(%23197)/MobileOrgTests/Resources/MobileOrgTestingSample.org)?

[2017-07-27 17:00] mgmart commented on #195
was added to 2.0 project

[2017-07-27 17:00] #195 closed

[2017-07-27 18:20] wilbowma opened #200 "iPhone 5 incompatibility?"
I just tried to update MobileOrg hoping the WebDAV syncing issue would be fixed, but the AppStore reports that the new version is incompatible with my device. I'm running iOS 10.3.2 on an iPhone 5 (not 5s). The earlier version installed fine for the iPhone 5; is there some new incompatibility or was this a mistake in listing the compatible devices?

[2017-07-27 19:18] webframp commented on #200
Sorry for that inconvenience! Nothing has specifically changed in that regard that I am aware of and it definitely wasn't intentional. The only device requirement is iOS 9, from iTunes Connect:

Device Requirements

Minimum iOS Version
9.0

Supported Architectures
arm64

Device Protocols
Device Family
iPhone / iPod touch, iPad

Required Capabilities
arm64

[2017-07-27 19:20] webframp opened #201 "Feature request: iCloud drive support"
From Kirill Simagin in the App Store Reviews.

Not sure if it's worth effort in the v1.7 series or if it's better to focus in v2

[2017-07-27 19:21] wilbowma commented on #200
I think the arm64 requirement is causing the issue. IIRC, the iPhone 5 was still 32bit.

[2017-07-27 19:23] ckruse commented on #200
You dropped arm32, didn't you?

Via Mobile, deshalb kurz. Nicht unhöflich gemeint!

[2017-07-27 19:27] ckruse commented on #200
Hu... sorry, @wilbowma was faster, I didn't want to hit send

[2017-07-27 19:28] webframp commented on #200
It does look that way based on the [compatibility matrix](https://developer.apple.com/library/content/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html#//apple_ref/doc/uid/TP40013599-CH17-SW13).

If anything this was done by XCode and not intentional. I don't recall any earlier commits that required us to remove 32 bit. I will

[2017-07-27 19:31] wilbowma commented on #200
Thanks a lot!

[2017-07-28 00:03] webframp commented on #200
I've built a new bundle making sure to use the `Build Only Device` and confirmed build settings:

Build Active Architectures is `Yes`
Implicit 32bit is `Yes`
Valid Archs is `arm64 armv7 armv7s`

Before I submit to the store with a version bump anyone have suggestions to confirm that this bundle has 32bit and 64bit support?

[2017-07-28 03:18] mgmart commented on #200
This matrix should provide all information needed:
![](https://i.stack.imgur.com/F5s5W.png)
https://stackoverflow.com/a/21422550

[2017-07-28 06:44] laurynas-biveinis commented on #197
1.7.3 did not crash on device with the test file. That's different from 1.7.2.

[2017-07-28 07:35] mgmart commented on #197
But it does still crash with your large file?

[2017-07-28 07:37] laurynas-biveinis commented on #197
Hard to say about the structure difference between the test file and my crashing file. Mine is shorter, has fewer outline levels (max 4 maybe), does not have code blocks, has long LOGBOOKs, only http:// hyperlinks, has org-crypt blocks, has #+TODO #+TAGS #+DRAWERS in the header, has a few clocktables.

I still haven't tested 1.7.3 properly with my own files, will update as soon as I do

[2017-07-28 07:50] mgmart opened #202 "Testfile is needed for load and performance tests"
Maybe with long LOGBOOKs and org-crypt content

Derived from #197

[2017-07-28 14:41] webframp commented on #200
Rebuilt and submitted 1.7.4 for review

[2017-07-31 21:05] webframp commented on #200
v1.7.4 passed review and should be available soon if not already. Please let me know your results, thanks.

[2017-07-31 22:14] wilbowma commented on #200
This one installed okay and the WebDAV syncing issues seems to be fixed. It looks like this can be closed.

FYI, when I first tried to update to 1.7.4, I got the same error, despite seeing the new version and all iPhones being listed in the compatibility section. However, being an experienced computer-er, I tried restarting the App Store and then it installed fine.

[2017-07-31 22:20] webframp commented on #200
Excellent, thanks for confirming and sorry for the hassle.

[2017-07-31 22:20] #200 closed, assigned to nobody

[2017-08-01 04:58] laurynas-biveinis commented on #197
AppStore 1.7.4 quit on my file the same as the previous versions. Should I get a crash report, if yes, what steps should I take?

[2017-08-01 11:53] mgmart commented on #197
@webframp, are there any new crash logs?

[2017-08-01 12:24] webframp commented on #197
@mgmart I don't see any new crash logs for 1.7.4 yet.

[2017-08-01 12:43] webframp commented on #191
Hey there @clfest let us know if you are still experiencing this with the latest version. Thanks

[2017-08-01 12:45] webframp commented on #197
accidentally closed due to milestone adjustements

[2017-08-01 12:47] webframp commented on #198
@mika-fi this issue should be resolved in the latest version which includes numerous webdav fixes. Can you test with v1.74 and report back? Thanks

[2017-08-01 12:48] webframp commented on #202
also possibly useful for testing #97 ?

[2017-08-01 15:50] mickaelfiorentino commented on #198
Hi @webframp, thanks for the fixes it now connects correctly.

[2017-08-01 15:50] #198 closed

[2017-08-02 03:25] mgmart commented on #197
As there seem not to be any crash logs I assume the app is not crashing. If you could please verify that by starting the app from Xcode? If Xcode does not stop execution by showing the PC, something else must happening.

[2017-08-02 03:32] mgmart commented on #201
As v2 does not get any feedback it seems best to file it into 1.7 for the time being.

[2017-08-03 16:36] mgmart commented on #197
Created a test file with org-crypt entries and Logbook entries. Peek in Simulator was 164MB.

[2017-08-04 12:20] laurynas-biveinis commented on #197
I don't see a 1.7.3 or 1.7.4 tag on git, thus I tried pulling develop branch into my local branch (my local branch only has a total of three changes: my Dropbox API key; my DEVELOPMENT_TEAM; and removal of apparently unused "pool" variable in OrgFileParser -(parse)).
Afterwards I asked to run "pod install", which I did. Then attempts to build fail with "No such module 'SwitfyDropbox'". A bit of go

[2017-08-06 07:49] mgmart commented on #197
1.7.3 tag should be visible in git. It's not visible in Github. This is maybe because it's an annotated tag.

Are you working on ```MobileOrg.xcworkspace``` or ```MobileOrg.xcodeproj```?

[2017-08-07 04:17] laurynas-biveinis commented on #197
Ack re. tag - can I keep on testing develop or should I switch to a tag?
I am working on xcodeproj

[2017-08-07 05:01] mgmart commented on #197
You can safely use develop, I suppose.

Please use MobileOrg.xcworkspace

[2017-08-07 17:36] klprint opened #203 "Not able to encrypt"
Hi,
I am using Mobile-Org in combination with Dropbox. Since I am not very eager to store my agenda-file in clear-text in this service, I wanted to encrypt the synced files using mobile-orgs encryption feature. When I try to set it up on my iPhone and Mac (Sierra), I get it to work. But when I use customize-group --> org-mobile --> org-mobile-encryption-password and set org-mobile-use-encryption t

[2017-08-08 02:17] laurynas-biveinis commented on #197
xcworkspace worked. The app reports itself as 1.7.3, but I don't think that's an issue. The app had the test file configuration from previous testing, so I tried syncing that first, and the app quit, this time with messages in XCode output window:

Success! User is logged into Dropbox.
Message from debugger: Terminated due to memory issue

Then repeated with my own data files, same "Message from d

[2017-08-08 10:22] mgmart commented on #203
Although I do not understand the whole issue, it might help to know which version of MobileOrg, Org and iOS are used.

[2017-08-13 05:15] Logicxcz opened #204 "Font size should be adjustable"
I found i can change the text size on my iphone, but the layout did not adjust ,will the function be added?

Or, may i set the text size in settings?

[2017-08-13 05:21] Logicxcz commented on #204
May be i didn't describe clearly . When i view as documents the text size is too small. I want it to be bigger.

[2017-08-13 06:25] mgmart commented on #197
@laurynas-biveinis, there could be a memory leak somewhere. Could you try to follow [this guideline](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/InstrumentsUserGuide/FindingLeakedMemory.html) to detect it?

[2017-08-13 07:19] mgmart commented on #201
Tried to switch iCloud support on. Was not able to do it because Xcode was complaining that my Developer ID is not able to do that on MobileOrg.

<img width="328" alt="mobileorg_xcodeproj" src="https://user-images.githubusercontent.com/3919652/29246976-4717e522-8008-11e7-9107-bafc52f0e42c.png">

It seems that only @webframp might be able to do that. Don't know if that would allow others to use tha

[2017-08-13 07:23] mgmart commented on #204
This might help with implementing the enhancement: https://useyourloaf.com/blog/auto-adjusting-fonts-for-dynamic-type/

[2017-08-13 07:26] mgmart commented on #196
Closing the ticket because of no feedback. Could be re-opened if necessary.

[2017-08-13 07:26] #196 closed

[2017-08-13 07:26] mgmart commented on #191
Closing the ticket because of no feedback. Could be re-opened if necessary.

[2017-08-13 07:26] #191 closed

[2017-08-13 09:04] Logicxcz commented on #204
Thanks very much !

[2017-08-14 04:40] laurynas-biveinis commented on #197
@mgmart, I might have tried that already when I collected RAM usage data. IIRC, all memory was freed at the end of file parsing. I will retry.

If no leak, since the file size does not seem to be relevant for this issue, there could be a particular snippet causing the issue, I will see if I can reduce and then sanitize my data file to something useful.

[2017-08-14 08:21] clfest commented on #191
No, I am not experiencing the original problem with the new version.  I am
experiencing some irregularities with the TODO->DONE feature,
but I will enter it as a new bug when I have the time to make a more
specific description.

On Sun, Aug 13, 2017 at 12:26 AM, Mario ⚒ <notifications@github.com> wrote:

[2017-08-14 08:23] clfest commented on #196
Having downloaded the updated version, I will see if the same bug manifests
itself. Thank You.

On Sun, Aug 13, 2017 at 12:26 AM, Mario ⚒ <notifications@github.com> wrote:

[2017-08-14 11:10] webframp commented on #201
I'll take a look at this one

[2017-08-14 14:44] frapples commented on #203
Me, too. I feel this bug(https://github.com/MobileOrg/mobileorg/issues/189) still exists.

When I set a password using mobileorg, there are bugs.
This prompt ”Unable to encrypt file, please check your password“ rather than the last as prompted ”Unable to detect file encoding, please re-save this file using UTF-8.“。

[2017-08-20 07:14] mgmart opened #205 "iOS 11 Compatibility"
- [X] Migration to Swift 4
- [ ] Cocoapods update (when available)
- [ ] Selfsigned Certificate in Xcode 9's simulator (had no luck so far to get that running)

[2017-08-28 07:29] clfest opened #207 "MobileOrg crashes and stays crashed"
I have updated to 1.7.4, but alas MobileOrg still crshes, and stays crashed, necessitating a reinstall
of MobileOrg, and losing any data that was on my iPhone that hadn't been synced. This is a continuation
of closed issue #196.

[2017-08-31 10:30] clfest commented on #207
Again crashed same symptoms (8/31/17 approx 2:00 AM). Have to reinstall, I guess.

[2017-09-02 02:34] k0105 commented on #100
Time tracking. Last time I tried no mobile app did it right. If you fix the clock in and out functionality I'm perfectly happy. For me it never worked, time wasn't persisted etc. I just want to press clock in, have it record the first time stamp, hit stop, have a second time stamp added and this entry appended to the task entry, so I can synchronize it across environments. For me that's the one ki

[2017-09-03 04:05] myrjola commented on #207
I have the same problem. The last thing I was doing was editing a note. The next time I open the app it crashes and won't recover without deleting the data. I am sharing crash data with developers, so hopefully the crash dumps have arrived to you.

[2017-09-04 01:58] clfest commented on #207
I'd be glad to share my crash data with the developers, how do you do this?

On Sat, Sep 2, 2017 at 9:05 PM, Martin Yrjölä <notifications@github.com>
wrote:

[2017-09-04 04:06] myrjola commented on #207
https://developer.apple.com/library/content/documentation/IDEs/Conceptual/AppDistributionGuide/AnalyzingCrashReports/AnalyzingCrashReports.html#//apple_ref/doc/uid/TP40012582-CH21-SW2

[2017-09-15 05:57] mpslxz opened #208 "unsupported encoding of the text"
Captures from the device are encoded in an unsupported format that when pulled into org mode, emacs cannot recognize the encoding.

[2017-09-15 12:14] yatesco opened #209 "FR: add MobileOrg to the ios 'Share' menu"
Hi - newbie here.

Can MobileOrg be added to the iOS's 'share' menu? For example, in Safari when I click 'share'  choosing MobileOrg' would then add that link as a 'captured' note?

I searched around and couldn't find any prior discussion on this, which surprised me as I thought this was a pretty fundamental need, so maybe I have missed something :=).

Thanks!

[2017-09-28 21:06] kkuja opened #210 "Dropbox changed, sync doesn't work anymore"
Dropbox tells me:
"The Old version of the Dropbox platform is being retired on September 28, 2017. The developer of this app has yet to acknowledge the chagne, so this app may not continue to work in the future."

And, as result, MobileOrg doesn't find anything from dropbox anymore.

Sorry, my bad, the problem applies to Android version, and I google directed me here.

[2017-09-28 21:12] kkuja commented on #210
Sorry, my bad, the problem applies to Android version, and I google directed me here. I noticed this is the IOs version, after creating the issue. I'm really sorry about this.

[2017-09-28 21:12] #210 closed, assigned to nobody

[2017-10-01 23:48] dathinaios opened #211 "UI Improvements"
Hello,

First of all thanks for working on this! I was looking for a way to access my org files on iOS 👍

One thing that I find an obstacle in using the application is the UI design. Now I know this is a matter of taste but here are some initial personal observations:

* The nested table does not reflect the way we are used to work with org mode and is in general braking the visual convention of a

[2017-10-08 17:55] pascalpoizat opened #212 "Wrong dropbox directory path in the documentation"
Hello

in the documentation [here](https://mobileorg.github.io/documentation/) there is a reference to the  ```~/Dropbox/Apps/MobileOrg``` directory created by MobileOrg when syncing. Yet, the directory is  ```~/Dropbox/Applications/MobileOrg```.

- iPad / MobileOrg version 1.7.4 on iOS 11.0.2
- Desktop / Spacemacs 0.200.9 / Emacs 25.3.1 on OS X 10.12.6

Cheers

Pascal

[2017-10-19 08:25] pekp commented on #203
I am facing the same issue.  I am have MobileOrg 1.74 on iOS 11.
Everything works, as long as I don't set a password in the MobileOrg
settings, and in my emacs config.

The scenario that gives me trouble is as follows:

- I set a Password (let's say I'm using the password "a").

- I set the same passwort in my org mode configuration:

    (setq org-mobile-encryption-password "a")

- I do M-x org-m

[2017-10-22 08:38] mgmart commented on #203
Thanks for the analysis @pekp which helped me to get to the bottom of this issue.

**TLDR: To keep the encryption methods used by Org Mode and MobileOrg in sync please update Org Mode to a version >= 9.0.10**

OpenSSL changed the default for symmetrical  encryption to SHA256. Due to that MD5 is not set as the default for hashing anymore.

This is fixed in [f203d37](https://github.com/mgmart/org-mo

[2017-10-22 08:40] mgmart commented on #212
My directory resides in ```Apps```. Was there some change in Dropbox? Is this change affecting all users or only new users?

[2017-10-22 08:45] mgmart commented on #211
Thanks for your input. We've collecting requirements, ideas proposals to a new version of MobileOrg here: [MobileOrg.next](https://github.com/MobileOrg/mobileorg.next/blob/specification/docs/MobileOrgv2.org#features).

We would appreciate if we'd get some more input on this.

[2017-10-22 08:45] #211 closed, assigned to nobody

[2017-10-22 08:47] mgmart commented on #209
Thank you for your input. We've already got this on our [feature list](https://github.com/MobileOrg/mobileorg.next/blob/specification/docs/MobileOrgv2.org#features).

We'd be happy if we would get additional input on this.

[2017-10-22 08:47] #209 closed, assigned to nobody

[2017-10-22 08:48] mgmart commented on #207
Any news on this?

[2017-10-22 08:51] mgmart commented on #208
Do you use an other encoding than UTF-8 on your Emacs?

@mpslxz, could you please provide us with the versions you are using?

iOS version. Org Mode version. MobileOrg version. Emacs version.

[2017-10-22 09:03] pascalpoizat commented on #212
Hello @mgmart
I am a new user so I cannot say. I only observed that when syncing the application has created an Application directory instead of an Apps one.
I agree this would have to be checked to see if other new users have observed the change.
Pascal

[2017-10-22 09:04] mgmart opened #213 "Wrong error message if decryption fails"
derived from #203.

Instead of ```Unable to encrypt file, please check your password``` it should say ```Unable to decrypt file, please check your password and/or the encryption method used```

[2017-10-22 09:15] mgmart commented on #212
That's a good hint if you mean "new Dropbox user".

I will keep this ticket open and at some point in the future I will have to create some test users with Dropbox anyway.

If anyone else could verify the change in Dropbox, it would be appreciated very much.

[2017-10-22 10:13] pascalpoizat commented on #212
Indeed I am an old Dropbox user. I meant new to mobile org.

[2017-10-22 10:42] mgmart commented on #212
As I started using MobileOrg on Dropbox I had already a directory named ```Apps``` with several subdirectories from other application. Maybe Dropbox creates nowadays a directory named ```Applications``` if there is no ```Apps``` directory present.

The Dropbox documentation seems to be very sparse on this. I could only find some references to an "app folder" without any further specification.

Ano

[2017-10-23 05:17] clfest commented on #207
I seem to have done the above steps. By the way my MobileOrg on my iPhone
became inoperative in the same way were talking about on 10/19/17.

On Sun, Oct 22, 2017 at 1:48 AM, Mario ⚒ <notifications@github.com> wrote:

[2017-10-23 16:47] mgmart commented on #207
@clfest could you please give us an update on the versions you are using?

[2017-10-23 16:48] mgmart commented on #207
@webframp any chance to get to the crash logs?

[2017-10-23 17:49] mpslxz commented on #208
@mgmart My encoding is UTF-8.
iOS version 10.3.3
org mode: 9.0.10
mobileorg: 1.7.4
emacs: 25

[2017-10-24 06:48] clfest commented on #207
I am using 1.7.4.

On Mon, Oct 23, 2017 at 9:48 AM, Mario ⚒ <notifications@github.com> wrote:

[2017-10-28 06:32] mgmart commented on #208
@mpslxz, could you check if the files in your staging area are still UTF-8?
Do you use WebDAV or Dropbox?
It might help if you could provide the files residing in your staging area to us. Probably best by pushing some test-files without any personal data there first.

[2017-10-28 06:41] mgmart commented on #207
@clfest, there might be something in the files in your staging area which is causing the issue you are reporting.

- Do you still have the problem if you wipe the staging area and do a fresh push?
- Does the problem persist if you create some testfiles and push those into a cleaned  staging area?

[2017-11-06 22:53] SpLouk opened #214 "Interface for checklists"
Mobile Org should have an interface to manage checklists:
- add items
- check off items
- delete items

All while maintaining the [/] or [%] of the header, if applicable. It seems that one of the best use-cases of mobile org would be the ability to complete checklists while on the go. For example, if one wanted to write a shopping list, and check items off from their phone while at the store.

[2017-12-12 11:04] manmatteo commented on #122
I accidentally enabled AutoCapture mode and couldn't understand what was going on with MobileOrg. After much googling I reached this issue and deactivated it.
I suggest also based on the above discussion that it either be removed or renamed to a more convenient name (such as "Always open in Capture Mode").

[2017-12-23 15:16] emacsun opened #215 "show agenda directly"
I think it would be great to show the agenda directly by using a dedicated page.

Now, there are four pages: Outlines, Capture, Search and Settings.

If one wants to see the agenda (including the output of customized command), one has to click into the "Agenda Views". In particular, if one has more than one customized command. It would be tedious to click each one to see the result.

So I suggest

[2018-01-02 15:30] laurynas-biveinis commented on #197
I have changed my device from 6 to X, and the issue does not reproduce anymore - the app works with the original files as expected. Unfortunately this also means I won't look into memory use of org file parsing.

[2018-01-08 16:35] grahamas opened #216 "Capture buttons' behaviors"
When you start a new capture, there is no way to back out without saving the capture.  Pressing "< Capture" saves whatever is written (or not written) as if you had pressed "Done."  On the other hand, as far as I can tell, "Done" doesn't do anything useful.

A more expected behavior would be for "< Capture" to discard the current capture and return to the Capture menu. I suspect that's too aggress

[2018-02-12 09:23] bsima commented on #167
I followed [this guide](https://jamielinux.com/docs/openssl-certificate-authority/index.html) for setting up a root CA, then installed the root CA on my iPhone and trusted it, but I'm still getting an ATS error. Any advice?

[2018-02-14 00:33] webframp commented on #167
Honestly @mgmart was better at webdav debugging, since I never use it with MobileOrg. but if you can post any detailed log messages or errors in a *new issue* that would be helpful for tracking. Thanks for taking the time to report it @bsima !

[2018-02-14 20:14] DivineDominion commented on #216
Unlike editing forms for submission, where discarding the data with a Cancel nav button makes sense, that would be weird for editing files.

I’d opt for

- simply removing the Done button like other editors do when editing
- add Cancel to the right (! not where the non-destructive back button is usually) when adding a new capture

[2018-02-14 20:18] DivineDominion opened #217 "remove the Info button from the capture list"
As it stands, I cannot make it do anything at all. Tapping the cell opens the capture, that’s it. While we’re at it, I think the chevron is superfluous, too. I argue it’s expected behavior for a note editor to just edit notes from a list of files.

I’d happily contribute these changes if there’s no veto.

[2018-02-14 20:20] DivineDominion commented on #193
See #216, I think the back button should not cancel at all because note editors are neither forms (like creating an event in Calendar) nor settings.

[2018-02-14 20:21] DivineDominion opened #218 "sync overlay does not take rotation into account"
The overlay labels when syncing are always in portrait mode even though I use the app in landscape on my iPad.

[2018-02-14 20:40] grahamas commented on #216
That would make sense to me.

I hadn't thought of it as editing a file since I always use it just to create the note, but of course you're right that in general that same window is also used for editing notes, so it wouldn't make sense for the back button to discard a pre-existing note you're editing.

[2018-02-15 06:33] DivineDominion commented on #216
I played with the app around some more. What I said holds true for Captures. When you edit item bodies in outlines, though, you can argue that you do have a form-like situation and want to be able to discard changes. I think that'd be reasonable, but the MobileOrg team may disagree :)

[2018-02-18 07:24] mgmart commented on #216
If an already existing capture is edited there should be an cancelling option.

[2018-02-18 07:35] mgmart commented on #208
Issue is stale for more than 3 month.

[2018-02-18 07:35] #208 closed, assigned to nobody

[2018-02-18 07:35] mgmart commented on #207
Ticket is stale for more than 3 month

[2018-02-18 07:35] #207 closed, assigned to nobody

[2018-02-18 07:37] mgmart commented on #203
Seems to be solved

[2018-02-18 07:37] #203 closed, assigned to nobody

[2018-02-18 07:39] mgmart commented on #100
Last feedback was given a year back => closing to keep issue list clean

[2018-02-18 07:39] #100 closed

[2018-02-18 07:41] #175 closed

[2018-02-18 07:48] mgmart commented on #197
Closed for now.

[2018-02-19 14:03] DivineDominion commented on #216
I think Cancel & Done make sense when you are about to create a new "Capture". But for editing? There always is undo when you make mistakes while you type. (A dedicated undo button seems to be the new cool, by the way.) It's only an assumption: I think people rarely start editing an existing note and then want to cancel the whole process, rather preferring auto-saving of changes they make. (For wh

[2018-02-20 04:47] mgmart commented on #216
From my point of view existing captures are item bodies residing in some kind of inbox.

Having the option to use an undo button seems fine for me. Using `undo` and then `back` would result in `cancel`, wouldn't it?

[2018-02-20 07:10] DivineDominion commented on #216
Yes, it would. Also, no "shake to undo" required, which I always found odd :)

[2018-02-22 04:38] webframp commented on #201
Will look at it, still setting up the new machine for dev work but almost done

[2018-02-22 06:36] laurynas-biveinis commented on #197
My joy was short lived. Now it OOMs on X too, on sync, on that same file:
`Feb 22 08:31:00 kastauyra-comms-X kernel[0] <Notice>: EXC_RESOURCE -> MobileOrg[3911] exceeded mem limit: ActiveHard 1400 MB (fatal)
Feb 22 08:31:00 kastauyra-comms-X kernel[0] <Notice>: 119394.517 memorystatus: killing_specific_process pid 3911 [MobileOrg] (per-process-limit 10) - memorystatus_available_pages: 18967
`

[2018-03-09 11:22] serhiip opened #220 "Pressing sync button crashes application when some .org files use emoji 🎯"
After the crash, I am able to launch the application again and use it just fine.
The application still crashes again on subsequent synchronizations

![image-1](https://user-images.githubusercontent.com/1117733/37205273-e56928a2-239c-11e8-91ae-fdbddf119806.jpg)

[2018-03-11 08:49] mgmart commented on #167
Apple introduced some new ATS features in iOS 11. Best is to use a CA-issued certificate. For self-signed  certificates the domain must be configured in `Info.plist`.
Some explanation could be found at [Apple's Developer Forum](https://forums.developer.apple.com/thread/87932).

[2018-05-20 23:19] dfarmer opened #221 "Certificate issue with Webdav"
I'm trying to get sync working on an iphone 6s that is running ios 11.3.1 with mobileorg 1.7.4. I've setup my webdav share, successfully pushed to it from org-mode on the desktop and confirmed I can access the file with my web browser on the desktop.

When I put in the same URL, username & password in mobileorg I get "ATS Error: A secure connection could not be established. Please make sure that y

[2018-06-27 17:55] leungks1 opened #222 "unable to start mobileorg"
I have encountered this problem several times in the past few weeks: taping on MobileOrg icon wouldn't start the app. I have to delete the app and reinstall it from Apps Store in order to get a properly working MobileOrg. (Other apps work properly on my iphone.)

mobileorg 1.7.4, iOS 11.4 (iPhone 6 Plus)

[2018-06-30 13:44] cpbotha opened #223 "Support rendering of Email message:// links"
I often link to specific emails from org mode tasks using the `message://message-id` method.

I just tested the following org mode task body in MobileOrg:

[code]

MobileOrg View as Document renders the first link perfectly (blue "some unknown search engine" that I can tap on to go to google), whereas the second link is left in its unparsed ``[[..]]`` form.

Seeing that `message://` links should w

[2018-08-21 21:34] bubba899 opened #224 "Editing a task always updates the task timestamp"
Is that the intended functionality?

I was logging some events happening during the day, adding more tasks every time an event occurred.

Then I started editing some of those tasks to add more details to it, but I noticed that those tasks I edited was being brought on top of the list (original timestamp lost).

Would'nt it be more usefull to simply NOT update the timestamp everytime a task gets mo

[2018-08-23 12:26] webframp commented on #224
Thanks for reporting. I don't know if it's specifically intended, but I've never been bothered by it. Perhaps it could be adjustable behavior.

[2018-08-25 21:18] #217 closed, assigned to DivineDominion

[2018-08-26 01:09] webframp opened #226 "Swift 4 migration"
Swift 4 bring some necessary migrations for the existing code.

Primarily the implicit objc inference behavior is removed:
* https://stackoverflow.com/questions/44379348/the-use-of-swift-3-objc-inference-in-swift-4-mode-is-deprecated
* https://github.com/apple/swift-evolution/blob/master/proposals/0160-objc-inference.md

anyone is welcome to work on this, just let me know so we don't duplicate eff

[2018-08-26 01:10] webframp opened #227 "Fastlane tools"
Use fastlane.tools for build/release to automate more. Releasing to testflight should be fully automated.

* https://fastlane.tools/

[2018-08-26 02:16] webframp commented on #226
more work is still needed

[2018-08-26 23:22] webframp commented on #226
Waiting on https://github.com/dropbox/SwiftyDropbox/issues/173

[2018-08-29 11:33] yxsongbo opened #229 "text encoding error will erase all the contents of mobileorg.org"
when i type Chinese  will cause the fatal error.

[2018-08-30 03:10] yxsongbo opened #230 "all org file must in Mobileorg directory"
outline can't display org file linked in index.org
the org file must at the same directory with index.org?
when M-x org-mobile-push ,any content in index.org will be erased, the emascs message is "reverting index.org"

[2018-10-10 08:46] ra1nb0w commented on #201
some update?

[2018-11-10 07:01] leungks1 commented on #222
An update to my post: the problem has disappeared. MobileOrg works as expected.

[2018-11-10 07:01] #222 closed, assigned to nobody

[2018-11-19 17:05] WouterSpekkink opened #232 "Dropbox folders not showing"
Hi there,

First of all, thanks for writing this software.

Unfortunately, I am having trouble getting it to work. I can download the app for Android (my Fairphone 2 runs Android 6.0.1), and I can then go through the setup wizard. I successfully logged in to my Dropbox account, but then, in the next screen, no folders are shown. The issue might be similar to issue #73, but also if I create the fol

[2018-12-09 21:44] joshzana commented on #226
Fixed in https://github.com/dropbox/SwiftyDropbox/releases/tag/5.0.0

[2018-12-28 22:52] michaeleverson commented on #232
This is the iPhone app, unfortunately, which is separate. I'm not sure where you should report your bug.

[2018-12-29 22:12] michaeleverson commented on #226
I've been working on this one. Please have a look when you get a chance. #234

Are we wanting to go to 4.2?

[2018-12-29 22:20] michaeleverson commented on #226
I've also removed the old style String use, but feel this would need move testing as the implications of editing this are bigger. #235

[2019-01-02 04:39] gvol commented on #232
Presumably at https://github.com/matburt/mobileorg-android

[2019-01-02 04:41] gvol commented on #230
Try setting `org-mobile-files` to a list of the files you want pushed to the mobile app.

[2019-01-03 10:08] WouterSpekkink commented on #232
Hi both, thanks for answering, and my apologies for not paying enough attention to notice that I was posting this issue at the wrong repository. I'll close it now. Thanks again.

[2019-01-03 10:08] #232 closed, assigned to nobody

[2019-01-22 21:19] novoid opened #236 "Capture: Option to add newline before timestamp"
MobileOrg v0.9.13 on OxygenOS 9.0.0 (Android 9)

When I do capture an article, e.g., using NewsBlur RSS app, this results in an entry like this:

[code]

Notice the time-stamp who is directly appended to the URL without even a space character in-between?
This is at least annoying to me.

Could you please offer any help with that? Option to add a newline before the timestamp? Adding a newline betwe

[2019-01-29 01:52] webframp commented on #236
Hey @novoid ! Sorry this repo is for the iOS app not the android one.

[2019-01-29 07:15] novoid commented on #236
Wow, I didn't know that there _is_ a MobileOrg for iOS.

Sorry!

[2019-01-29 07:15] #236 closed, assigned to nobody

[2019-02-24 00:24] #221 closed, assigned to nobody

[2019-03-27 05:34] clfest opened #237 "The new sync seems to take longer than the old one"

[2019-03-27 05:37] clfest commented on #237
The new sync seems to take longer than the old one. I am thinking that the new sync algorithm (phone<->Dropbox) is written inefficently.

[2019-03-27 05:41] clfest commented on #237
The new sync seems to take longer than the old one. I am thinking that the new sync algorithm (phone<->Dropbox) is written inefficently.

[2019-03-27 05:46] clfest opened #238 "With TODO the phone reverts to the old one"
When I have TODO on my item in the phone, I can't make further notes on an item tagged this way. If I try
the item will revert back to the original when I sync it, probably not what one intends.

[2019-06-22 15:52] dive commented on #201
@webframp, hello. How is it going with iCloud support?

It would be nice to be able to check org-mode stuff on iPhone. And I do not like Beorg personally (ideologically and because it is a blackbox app).

I can implement the feature by myself, but maybe you already started and can share the draft implementation.

[2019-06-25 03:53] webframp commented on #201
Hey @dive I'd greatly appreciate any contributions. I've been far too busy with other demands and just unable to spend the time I want on this feature.

[2019-07-06 16:26] sati-bodhi opened #239 "MobileOrg folder not created when linked with Dropbox"
After linking with Dropbox, the MobileOrg folder is not created. Even when  the said folder is created manually with agenda files successfully staged, the app fails to read and access the files in it. Syncing does not result in an error, but outlines and all remain empty.

ios version: 11.2.1 (15C153)

[2019-08-19 00:23] bshanks commented on #239
I have this problem too.

[2019-08-20 21:56] minostro commented on #212
I just started using `MobileOrg` and the folder is `Apps`: `Dropbox/Apps/MobileOrg`

[2019-08-20 22:01] minostro commented on #239
I didn't experience that issue.

MobileOrg version: 1.7.4
ios version: 12.4

[2019-09-05 14:41] kimfucious opened #240 "Trying to sync Spacemacs with mobileorg"
Hi there,

I love this idea, but alas, I can't seem to get past the starting gate.

- I've got the app running on mobile.
- There is a ~/Dropbox/Apps/MobileOrg now created

In the docs found, [here](https://mobileorg.github.io/documentation/#using-dropbox), it says:

[code]

I'm assuming this goes in the .spacemacs dot file under `user-config`, correct?

It also says:

[code]
Neither of those keys

[2019-09-06 03:21] webframp commented on #240
Hi Kim, thanks for reporting this. I’ll try to recreate your scenario and see what I can recommend. I have some spacemacs experience so I’ll let you know.

[2019-09-06 05:07] kimfucious commented on #240
Hey @webframp ...

I think I figured out my issue.  I needed to have an org file open in order for `org-mobile-push` to be visible in the menus.  My bad 😊

[2019-09-06 05:07] #240 closed, assigned to nobody

[2019-09-06 05:19] kimfucious opened #241 "Usage question: Viewing Org Docs in MobileOrg"
Hi there,

I'm trying to figure out if MobileOrg is capable of something.

In brief, I'm trying to use OrgMode as a writing environment, similar to Scrivener.  And I want to be able to view Org files and their text on mobile.  The agendas aren't so important.

Ideally, I'd like to proof read stuff I've written on the desktop, make edits on the mobile, and sync those back to the desktop.

At presen

[2019-09-11 21:09] webframp commented on #240
@kimfucious that would do it 😁

Thanks for checking out MobileOrg, let me know via issues here how it can be improved. I'm slow to make changes but open to ideas.

[2019-10-07 21:36] webframp commented on #241
Hey @kimfucious 👋

The files that get synced are currently determined by the value of your `org-agenda-files` variable in emacs. Just add the files to this list and they will sync and show up. Your screenshot is just the default "agenda view".

Your use case certainly is possible. I think most users use mobile org for capture and then sync/refile once they are back at their normal emacs environmen

[2019-10-07 22:54] dive commented on #201
@webframp, you can assign this task to me if you want. I have a prototype that works, but it will take some time to adapt the current synchronisation logic, implement missing parts and prepare an instruction on how to incorporate these changes.

[2019-10-08 04:05] webframp commented on #205
I think we have this one now

[2019-10-08 04:05] #205 closed, assigned to nobody

[2019-10-08 04:06] webframp commented on #201
Thanks @dive I'll work on the Testflight process. Let me know how it goes.

[2019-10-08 09:02] hokreb opened #245 "Syncing problem"
Hello,

I am a new user of MobileOrg (1.74) on iphone (Xr, ios 13.1.2) and experience following problem:

I use emacs 24 on windows with, of course, org mode (version 9.1.9). I had setup a webdev directory by use of redmine, where I sync my org files to. After a push by emacs org mode (by menu or by command), I can look at the webdav directory and find all the files, which should be there (due to

[2019-10-10 23:03] dive commented on #202
[This](https://github.com/bzg/org-mode/tree/master/testing/examples) can be useful.

[2019-10-11 02:46] webframp commented on #202
We really need a solid swift based org parser that can replace the current implementation, these could be useful for developing and testing that

[2019-10-15 13:09] #201 closed, assigned to dive

[2019-10-15 20:19] webframp opened #247 "Investigate switch from CocoaPods to Carthage."
Determine if switching to Carthage and removing the dependency on CocoaPods to allow using `xcconfig` files is worth the effort (probably, yes).

* https://github.com/Carthage/Carthage

This should also enable removing the multiple plist config with various build settings (adhoc,debug,release).

Using the latest BuildSettingExtractor release could help with migration:
* https://github.com/dempseya

[2019-10-16 20:00] dive commented on #220
I found the problem, and it is within `captureComponentsMatchedBy` function that we use to extract information from the `index.org` and other org files.

The problem is that Swift uses UTF8 strings representation by default, but Objective C API still requires UTF16. It fails to calculate a proper length in this case because `NSRange` assumes that we are operating on `NSString` by default (yeah, an

[2019-10-17 03:40] #204 closed, assigned to nobody

[2019-10-17 03:42] #220 closed, assigned to dive, mgmart

[2019-10-18 18:33] webframp opened #250 "Drop support for anything below iOS 12"
Looking for user input on this one. Dropping support for older platforms does enable us to begin using the latest features available in iOS dev.

Based on App Store metrics this is our user version distribution over the last 30 days:
![image](https://user-images.githubusercontent.com/774378/67118968-1299fe00-f1b4-11e9-9d51-b5e6b48672bd.png)

If we were to drop support for versions 9, 10 and 11 of

[2019-10-18 20:05] dive commented on #216
I think that this is a bad idea to straddling two worlds. MobileOrg as an application to handle notes and to work with notes, so, let's follow the rules for notes and in-place editing (Notes.app is a good example). In this case, it would be easier for users to work with it because the UX will be familiar. There are no reasons to mix different patterns.

I propose the following changes according to

[2019-10-21 20:13] #216 closed, assigned to dive

[2019-10-21 20:26] dive commented on #193
Closed due to changes within #251.

[2019-10-21 20:26] #193 closed

[2019-10-22 01:55] webframp commented on #250
@dive we can try to collect info here on versions to support. If we don’t get any feedback, we can drop the old iOS versions

[2019-10-22 17:59] stormlash opened #252 "Questions about syncing linked files"
My mobileorg takes a long time to sync because it tries to download a long list of files that are linked to from my main .org documents. That prompts a few questions:

1. How would I utilize this feature? I haven't been able to figure out how I'd get these linked files exported to where mobile org could see them as part of org-mobile-push.
2. Is this feature actually utilized? I'd prefer to just d

[2019-10-22 20:08] dive commented on #252
Hi @stormlash,

I did not try it, but that's what I see in the code: by default, as I can see in the `org-mobile.el` implementation, it syncs only files mentioned in agendas or located directly in `org-directory`. If you want to sync additional files you have to specify `org-mobile-files` with an explicit list of files/directories.

[2019-11-30 13:29] muellert opened #254 "Android version?"
I just came across this project and wondered whether there might be an Android version. The original version on Android is really old and lacking in many ways. Looking at the source code, it should not be easy, though. Any suggestions?

[2019-12-01 04:46] webframp commented on #254
Hey @muellert you’re right, this code is very iOS specific.

The only android repo I knew of was:
https://github.com/matburt/mobileorg-android

But it seems like @matburt is no longer maintaining it or using org.

This may be an active fork:

https://github.com/hdweiss/mobileorg-android

Hope you find something!

[2019-12-01 04:47] #254 closed, assigned to nobody

[2019-12-01 04:48] webframp commented on #250
Haven’t had much feedback after 1 month. @dive I think we would be safe to drop the older platforms of you are still interested in contributing

[2019-12-03 16:05] matburt commented on #254
currently no one is maintaining any active mobileorg for android fork that I know of. There *are* some alternatives out there you just have to search for them.

[2019-12-03 16:24] muellert commented on #254
On Tue, Dec 03, 2019 at 08:05:15AM -0800, Matthew Jones wrote:

That describes exactly my current impression.

Interesting. I searched the Play store and also Fdroid, but could not
find anything so far. A full emacs port doesn't count from my POV,
because it's really too heavy for a handset (I don't use tablets). The
wiki in the original project has also been disabled completely, so I
currently ju

[2019-12-20 14:07] jdek commented on #247
I started working on this, I have a WIP in my fork. Though I will only be able to finish it in January when I get my mac back from repair.

[2019-12-23 17:17] dive commented on #250
@webframp, yeah, I can do it. But I think it is reasonable to wait for #247.

[2019-12-23 18:13] webframp commented on #247
Thanks @jdek feel free to open a draft PR anytime you want input!

[2019-12-23 18:13] webframp commented on #250
I agree, probably best

[2020-01-02 20:24] stormlash commented on #252
Sorry to revisit this after so long - somehow I missed this reply and only just now thought to check in again.

In my case, I'm not interested in having the files be staged for mobileorg at all - but the fact that MobileOrg is looking for them on every sync accounts for about 80% of the sync time. Would y'all be receptive to a PR to add a toggle to the settings to configure whether sync operations

[2020-01-02 22:40] webframp commented on #252
Hey @stormlash I wouldn’t be opposed to that if it’s a feature you want to add, default can just be current behavior but the toggle in the settings can switch to what you’ve mentioned

[2020-02-02 04:53] #247 closed, assigned to nobody

[2020-02-02 05:41] webframp opened #256 "Update travis config for carthage"
It's still referencing pod usage:

https://travis-ci.org/MobileOrg/mobileorg/builds/644976961

[2020-02-02 12:38] dive commented on #256
Yeah, we forgot to change the [travis.yml](https://github.com/MobileOrg/mobileorg/blob/develop/.travis.yml) configuration.

[2020-03-10 22:24] dive opened #260 "Two unit-tests never pass on the first run"
We have two unit-tests that depend on the environment and never pass on the first run ([example](https://travis-ci.org/MobileOrg/mobileorg/builds/660833144) on TravisCI):

[code]

Let's fix them.

[2020-03-11 00:01] #256 closed, assigned to dive

[2020-03-20 21:31] #250 closed, assigned to dive

[2020-04-28 02:38] webframp opened #261 "Properly render links"
Ref from a different repo: https://github.com/MobileOrg/mobileorg.github.io/issues/18

We should consistently render links of supported types.

Here's an example from current testflight beta, v1.7.5 build 392, where urls should be rendered clickable:

![screenshot_01](https://user-images.githubusercontent.com/774378/80441307-a7568480-88d8-11ea-8573-be3e287259d0.jpg)

Here's an example where they a

[2020-04-28 02:49] webframp commented on #260
That's gross, thanks for finding it

[2020-05-04 00:55] gitonthescene opened #264 "Capture notes should have a preview mode"
I think it would be nice to have a "View document" option for captured notes as well.  For one this might be a good place to find clickable versions of links that have been added.

[2020-05-04 01:00] gitonthescene opened #265 "Maybe the info button should be to the left of the note heading?"
I think it might be more ergonomic to have the info button to the left of the note heading and away from the enter arrow.  It's easy to miss the one you're trying to hit.  For the first heading it's also pretty close to the sync button.

Does the enter arrow even have any functionality given that clicking on the row also lists the sub links?

[2020-05-04 05:01] gitonthescene commented on #265
I'm new to iOS programming, so please forgive me if I'm not understanding what standard practice is.  Just reading up on this lead me here: https://developer.apple.com/documentation/uikit/uitableviewcell/accessorytype

I guess I'm suggesting that a detailButton might be clearer, but now I'm not so sure.  My gripe might be with Apple and not this code.  Was just trying to pass along what the user e

[2020-05-04 05:24] gitonthescene commented on #264
One possibility is to have clicking on the row go to editing the captured note only when in edit mode and have it go to preview mode if not editing.

I'm happy to take a whack at doing this if it seems reasonable to people.

[2020-05-06 04:48] gitonthescene opened #266 "Better document WebDAV test set up"
I got this working using the [docker image](https://hub.docker.com/r/phylor/webdav-ssl/) specified in Scripts/Resources/WebDAV-Server-Start.sh.  I [created certs](https://developer.apple.com/library/archive/qa/qa1948/_index.html) using my own [root certificate](https://developer.apple.com/library/archive/qa/qa1948/_index.html) for localhost ( so as not to fiddle with /etc/hosts ).  I had to [expor

[2020-05-10 14:33] gitonthescene commented on #265
Hmm.  It looks like the info button is not there on the develop branch.  Closing.

[2020-05-10 14:33] #265 closed, assigned to nobody

[2020-05-14 09:42] NightMachinery opened #267 "Allow git as the sync backend"
Related: https://github.com/MobileOrg/mobileorg/issues/120

I already manage my notes via git, and don’t like cloud services for syncing. Adding a git-backend sync would be very helpful.

Perhaps you can integrate with the app Working Copy for this. You can use that app’s beta for free [here](https://testflight.apple.com/join/ZzqOu8tX).

Some advantages:
* being REALLY tool-agnostic: There is no v

[2020-05-14 11:32] webframp commented on #267
Appreciate the detailed suggestion @NightMachinary. I definitely want to support this feature, thanks for spelling out the benefits.

I’ve had discussions with the org mode maintainer about it as well and possibly even removing the dependency on the old style org-mobile.el sync method

[2020-05-14 11:35] webframp commented on #239
I haven’t been able to recreate this issue with the current develop branch. Please reopen if still a problem.

[2020-05-14 11:35] #239 closed, assigned to nobody

[2020-05-14 12:25] webframp commented on #267
@dive any suggestions for a good git interaction library in swift? I haven't looked around much yet, but if you know of one that's in common use or has a nice api let me know.

[2020-05-14 12:45] NightMachinery commented on #267
@webframp 😃👍
Adding support for using an external location for storage (with no sync), should be enough to use apps such as Secure Shellfish (SSH/SFTP), Working Copy (git), iSH (git, SSH, ...). I think that would be a good idea, as it allows more flexibility without (I hope) being all that hard a feature to add.

To illustrate, here is a screenshot of my working copy’s git folder in a file explore

[2020-05-14 14:20] webframp opened #268 "Add share action for quick capture"
* https://developer.apple.com/design/human-interface-guidelines/ios/extensions/sharing-and-actions/

[2020-05-18 01:03] gitonthescene commented on #264
I still think that "View document" for captured notes is a good idea, since my notes often include links and it's nice to be able to click on them before I've had a chance to sync them, but I think I may have misunderstood the intent of edit mode in the iOS ecosystem.  I think abstractly my last suggestion makes sense, but after some research it doesn't seem idiomatic.

Perhaps instead we could ha

[2020-05-19 12:21] gitonthescene commented on #268
Cool!  I had this in my notes to suggest.

[2020-05-20 03:04] webframp opened #270 "Implement pull to refresh behavior"
This is a pretty standard behavior on iOS for forcing a refresh action. We
currently only have the sync button on the main outlines view, but could make
pull to refresh work from any screen for consistency.

[2020-05-20 13:51] dive commented on #270
Just a note.

It is quite easy to implement but the problem is that we block UI during the refresh for now. It was done to protect the database from any changes during the synchronisation process.

So, we can implement a transparent synchronisation for sure and do not block UI at all (we have to support merging, etc., if a user changes something during the synchronisation then we have to merge the

[2020-05-20 13:53] dive commented on #264
I had a crazy idea to embed [organice](https://organice.200ok.ch/) as an engine to preview notes/documents.

[2020-05-20 13:58] webframp commented on #270
Great details @dive

That’s for sure why it doesn’t currently exist, I wanted to have an issue for it since I’m trying to make it easier for contributors to add their thoughts or see what features have been discussed.

[2020-05-20 14:09] webframp commented on #264
Not too crazy of an idea actually if it could be done in a way that harmonizes the UX.

Organice is a neat project. Very material-UI feeling.

[2020-05-20 21:41] gitonthescene commented on #264
Orgnice also has a way to start a clock which is something else I was going to suggest, but maybe the suggestion here is just to use the renderer.

Also, this particular issue is about adding preview mode for capture notes rather than how the rendering is actually done.  I assume we'd want a consistent renderer.  Maybe changing the renderer for preview mode should be a separate issue, since we cou

[2020-05-21 05:05] gitonthescene commented on #264
Short term, I was thinking something along [these lines](https://github.com/MobileOrg/mobileorg/compare/develop...gitonthescene:feature/capture-view), where you only descend into editing if you're in editing mode.  I think this feels a little more consistent.

I'll see if I can get the captured note to render the same way that Outline notes do.

[2020-05-21 05:33] gitonthescene commented on #264
My read from the code is that OrgFileParser reads in the entire file as a string and from there on doesn't use the fact that this string came from a file (except possible for handing org file specific syntax like FILETAGS).  We could refactor this code to generate nodes from strings, and use this to generate a string from a captured note to render with OutlineView.

As a separate project we could

[2020-05-21 07:40] gitonthescene commented on #264
An alternative is to make a dummy file with the concatenation of all the capture notes.  And use that to render.  I still think you'd need to refactor the grabbing of the "file" source, maybe by passing in a handler.

[2020-05-22 05:13] gitonthescene commented on #264
Actually, it might be worth asking whether it's worth using the orga AST as the basis for the data model.  Initial experiments show it to be fairly quick and looking at the code, it seems pretty extensive.  I made a [repo out of the playground](https://github.com/gitonthescene/orga-experiment) I used to test.

D'oh!  I just noticed there's also a [swift-orga](https://github.com/orgapp/swift-org) i

[2020-05-22 13:11] webframp commented on #264
Not opposed to replacing or refactoring the org parsing and data models.

I would prefer that we keep any new library dependencies we take on to be Swift instead of objc if possible, but don’t have to be too strict about it

[2020-05-23 06:27] gitonthescene commented on #264
I think there's a good chance we can retire quite a bit of objc if this works.  I'll do some more research.  Have a look at the playground code I posted above if you have a chance.

[2020-05-29 06:20] gitonthescene commented on #264
Let me hash out my idea here...

With [some small changes](https://github.com/orgapp/orgajs/issues/47) to the orga parser, we can (with javascript) go back and forth between an org document and a complete Abstract Syntax Tree for the document.

It's easier to extract information out of the Abstract Syntax Tree than manually parsing out interesting bits from the original document.  For instance we

[2020-07-04 00:19] gitonthescene commented on #267
@NightMachinary What exactly don't you like about "cloud" storage?  Having a better picture of what the issue is makes it easier to assess the options available.

[2020-07-04 02:34] webframp commented on #267
I would love to enable users to just use a private git repo, either self hosted, GitHub or elsewhere

[2020-07-04 03:06] gitonthescene commented on #267
I still think the best approach is to understand the problem being addressed first and then assemble solutions afterwards.  I believe the current staging mechanism was developed as a simple way to manage conflict resolution when syncing.  Pulling from a git repository would manage conflict, but we might need to manage a git client in the app.  A direct sync doesn't really seem to handle conflicts

[2020-07-04 03:12] webframp commented on #267
I think I agree @gitonthescene. My interest is in simplicity where possible and enabling user choice for where they store their data.

[2020-07-04 04:13] gitonthescene commented on #267
Maybe it would be good to walk through some scenarios/expectations.

1) User edits Org file on home computer
2) Then pushes to some git repository
3) That file is pulled (?) from git
  * Is this pulling raw source?
  * Is this a git pull with full merge?
4) File is edited(?) on the app.
  * Is this still allowed?
  * Will we need to commit this locally?
  * Are we running a git client remotely and

[2020-07-04 04:14] gitonthescene commented on #267
I think there are some good ideas here FWIW: https://opensource.guide/

[2020-07-04 07:08] NightMachinery commented on #267
@gitonthescene I have written why I want git on my first post, plus a very easy way to add support for it using other apps. But to reiterate, git is the only sync option that gives me all the power. I can self-host it (on multiple locations), I can edit files offline, I’ll never fear for a merge conflict leading to data loss, I have my files versioned and can go back in their history if needed, I

[2020-07-04 10:24] gitonthescene commented on #267
I don’t know Working Copy but I’ll have a poke around.  To be clear, you can run your own WebDav instance pretty easily too.  WebDav was designed for collaborative upload as well with file locking etc, though I don’t believe that MobileOrg takes advantage of those features.  WebDav is much lighter weight than git as well and can be run over ssh.

From a practical stand point, resolving merges on t

[2020-07-05 03:25] gitonthescene commented on #267
Okay, so I had a quick look at Working Copy and I think I understand your suggestion better.  The idea would be to move syncing and all the merge issues that come with it outside the app.  You would point at files which are [shared](https://workingcopyapp.com/manual/extending-ios) with some other app that MobileOrg org would freely read from and write to.  The only “trick” would be making sure tho

[2020-07-05 08:23] NightMachinery commented on #267
@gitonthescene Great! There are other apps though! iSH provides a partial Linux environment that can run git and rclone. ShellFish provides SFTP and some other methods. Cloud drive apps (Dropbox, Gdrive, etc) provide cloud storage.

I’m looking forward to the update. :D

[2020-07-06 04:08] gitonthescene commented on #267
It sounds like the other options wouldn’t as directly provide the support for merging conflicts during a sync, though.  It helps to be clear when evaluating alternatives.

Sent from Yahoo Mail for iPhone

On Sunday, July 5, 2020, 5:23 PM, NightMachinary <notifications@github.com> wrote:

@gitonthescene Great! There are other apps though! iSH provides a partial Linux environment that can run git an

[2020-09-17 15:53] webframp opened #271 "iCloud sync not working"
Reported by a user in https://gitter.im/MobileOrg/Lobby

Setup for iCloud sync should only be: Configure iCloud Sync in the mobile app, Initiate a sync to create the iCloud Drive folder, then configure emacs org-mobile-directory value to point to the path in your ~/Library/Mobile Documents folder

However when attempted a file name does not show in Outlines tab, but there is an empty line shown wi

[2020-09-17 15:54] webframp commented on #271
@dive since you worked mostly on this feature perhaps you have an idea where best to start debugging?

[2020-09-17 16:11] chuxubank commented on #271
After restart the app, the empty lines disappeared and nothing shows up even I click the sync button.
BTY, the sync page (which shows "Syncing Org-files" and file names which are syncing) gone very quickly, while using WebDAV it takes a reasonable time to sync.

[2020-09-17 23:50] happy-dude opened #272 "[Feature Request] Support for Box.com sync"
Hey team!

I love that MobileOrg supports iCloud, WebDAV, and Dropbox; I was wondering if it can also support [Box.com](https://developer.box.com/) sync as well?

I currently use BeOrg with Box.com features, and I would not mind supporting a FOSS app if this feature was added! I'm open to paying a subscription/donation/sponsoring to get this feature on the roadmap somewhere!

Thanks! Please let me

[2020-09-18 02:42] webframp commented on #272
Hi @Happy-Dude 👋

Thanks for the interest and the suggestion! I'll look at what's involved to add the feature. Do you know of any good Box.com SDKs in Swift by chance? If not I'll just look around and see what I can find.

Also appreciate the offer of support, I maintain this app in my spare time as a part time iOS dev because I'm an org mode fan and depend on it for my own workflow. I'm glad othe

[2020-09-18 13:59] ghost commented on #271
Not working at all for me. iPhone 11 Pro Max, iOS 14. Can't use dropbox because it's blocked by corporate firewall. Suppose I can try setting up WebDAV on one of my Raspberry Pis.

[2020-09-19 10:40] dive commented on #271
@webframp, sure. I will take a look. So far, I see that the release version on AppStore does not create a proper directory in iCloud for some reason. Local builds and the last version from iTunes Connect work fine. Will investigate.

[2020-09-19 11:20] dive opened #273 "Switch SwiftyDropbox dependency to Swift Package Manager"
Carthage has a problem right now with Xcode 12 support (due to Apple Silicon support, aka `arm64` for macOS targets) and it breaks the compilation for all package (check the [#3019](https://github.com/Carthage/Carthage/issues/3019)). They are working on a solution - XCFramework support but it will take a while.

On the other hand, SwiftyDropbox just added Swift Package Manager support ([#252](http

[2020-09-19 12:19] dive commented on #271
Okay, there is definitely a problem with the initial sync but it works in general.

@chuxubank, @stevenbuehler, can you help us and confirm that

* `org-mobile` configured properly on the Emacs side with the following line in your `init.el`
[code]
* you have initiated the initial synchronization with  the `org-mobile-push` command from the Emacs. (Unfortunately, the initial sync has to be initiate

[2020-09-19 13:02] chuxubank commented on #271
@dive Thanks for your help and hard work!
As @webframp told me on Gitter, I got the `org-mobile-directory` in #246 and use Emacs to push files succefully.
Here's my MobileOrg directory in iCloud on Mac.
![My macOS MobileOrg Directory](https://user-images.githubusercontent.com/17001575/93667443-79a4ee80-fab8-11ea-8e27-92db9f91351d.png)
<details>
<summary>Here's my MobileOrg directory in iCloud on i

[2020-09-19 13:15] dive commented on #271
@chuxubank, thank you! I see the problem on the iOS side. MobileOrg has to force iCloud Drive to sync all the files within the "MobileOrg" directory, but it is not the case on your screenshot from iOS (these cloud icons on the right-side of the list). It seems that I am able to reproduce it locally as well. Perhaps, something has changed in the iCloud logic or I missed something in the implementat

[2020-09-19 13:21] chuxubank commented on #271
You are right, I have to download **ALL** the files manually, and it works now!
Thanks!

[2020-09-19 19:57] webframp commented on #271
@dive I can add an update for the docs site today.

[2020-09-19 20:34] webframp commented on #271
Can confirm I'm seeing the same behavior. Works locally when I test, but the released version has the bug.

[2020-09-19 20:40] ghost commented on #271
The App Store version on my 11 Max Pro created the folder in iCloud after I set up something on the phone, but it did not sync the files in the folder afterward. For the moment I’m just using Dropbox, but the fewer apps I have to deal with the better.

[2020-09-20 05:58] happy-dude commented on #272
I am unsure if [this](https://developer.box.com/sdks-and-tools/) is exactly what you're looking for; looks like Box's [ios-content-sdk](https://github.com/box/box-ios-sdk) is geared towards development on iOS with Swift.

Thanks for making this app! I'm still figuring out my own org-mode workflow and how to help supplant it.

[2020-09-21 20:42] webframp commented on #273
Very interested in knowing what your results are for this.

Researching for #272 showed that the box sdk also has support for SPM: https://github.com/box/box-ios-sdk#swift-package-manager and it would make sense to me to migrate the dep management while there's only one explicit dependency.

[2020-10-03 10:39] dive commented on #273
Tried to set up a repository with Xcode 12 to fix the issue with iCloud, can confirm that the Carthage problem affects our flow as well:

[code]

[code]

Let's try to switch to SPM, otherwise we have to use a workaround from Carthage and it is a bit hacky.

[2020-10-03 15:07] webframp commented on #273
Great that you had success reproducing, but definitely annoying. I think the switch to SPM is a good idea especially since we really just have the one dependency right now

[2020-10-03 15:16] #273 closed, assigned to dive

[2021-01-01 12:05] coldfish opened #275 "Why generates new mobileorg.org files?"
I really don't understand why app generates a new mobileorg-(number).org file again and again after each capture. Am I missing something? Can it be related with corruption in iCloud sync system?

I'd be glad if you have any suggestions.

[2021-01-01 16:27] coldfish commented on #275
I think there's a sync problem. After removed the mobileorg.org file, it started to create/update the main file.

[2021-01-01 16:27] #275 closed, assigned to nobody

[2021-01-02 11:30] dive commented on #275
Hi @coldfish. This is definitely a bug within the iCloud implementation logic as described [here](https://github.com/MobileOrg/mobileorg/issues/271#issuecomment-695212134) (#271). Unfortunately, I am plodding on the fix due to lack of free time.

[2021-01-02 11:53] coldfish commented on #275
@dive thanks for the explanation. After manually downloaded the items, it seems working.

[2021-01-21 23:11] aschokker opened #276 "Duplicate lines in agendas.org screen"
Hi developers,

Just started with MobileOrg and I really like the app!

I succeeded to sync (via WebDAV, with org-mobile-use-encryption enabled) my .org files, which are two TODO lists, to my iPhone 7.

If I select "Agenda Views" in the "Outlines" screen of the MobileOrg app, I see the lines:

Week-agenda (W..)
ToDo: ALL

but in duplicate, see screenshot below.
Why in duplicate? Contents are 100%

[2021-01-24 16:44] wilhelmtell opened #277 "Crash on cancelled date insert"
0. Tap Capture
1. Tap the calendar button
2. Tap Cancel

App crashes.

MobileOrg 1.7.5, set up for iCloud sync, empty document
iOS 12.5.1
iPhone 6

[2021-01-25 21:08] raindev commented on #245
I had a very similar issue with only `index.org` and `agendas.org` files being synched. It turned out I had to set `org-mobile-files` to include other files. E.g.:

[code]
I don't know if it's just wasn't obvious to me being an newbie or if it's something worth mentioning in the documentation.

[2021-02-26 00:59] emwaves commented on #167
I realized this thread is already closed but I couldn't find the relevant info elsewhere. I am iOs 14 and would like to sync with webdav through my Synology NAS. It used to work earlier but I keep getting this error when I try to sync "ATS Error A secure connection could not be established. Please make sure that you're using a secure connection with valid certificates".

I have no idea how to get

[2021-03-18 14:39] rayfdj opened #278 "Crash on sync"
When I tap the Sync icon, MobileOrg immediately crashes. Please let me know if I can supply any more helpful information, thank you so much.

- MobileOrg 1.7.5
- iCloud sync
- iOS 14.4.1
- iPhone 11 Max

[2021-06-15 09:28] florhizome commented on #268
Jup this would be great on iOS, since we don’t  have a „termux“ here ;)

[2021-06-19 05:55] berlege opened #279 "Agenda view"
In the 8 days-agenda view on the mobile device (Agenda Views, Iphone): the active time stamps are not shown anywhere if they are part of the heading. This crucial information seems to be lost. If the time stamps are part of the body, they are kept but, being part of the body, they only appear in small making the overview not really useful. Do I miss a setting?

Org-mobile in general could be very

[2021-07-03 14:35] keeper-dev commented on #203
I seem to have the same problem: Using
MobileOrg 1.7.5 and
Org Mode 9.4.4
iPadOS 14.6

When I use org-mobile-push, everything is staged and the files are encrypted. When I counter-check using:
`openssl enc -md md5 -aes-256-cbc -salt -pass "pass:<myPassword>" -d -in example.org -out ~/example.org.decrypted`
I get the correct decrypted file.

When I try to sync the app however I keep getting:

Any a

[2021-07-04 18:47] gitonthescene opened #280 "Create a URL scheme"
I only just learned about [bookmarklets](https://caiorss.github.io/bookmarklet-maker/).  The example in that link made me think that if MobileOrg had a [URL scheme](https://developer.apple.com/documentation/xcode/defining-a-custom-url-scheme-for-your-app), you could make a bookmarklet to automatically capture notes from websites.  One simple idea is to save the page you’re browsing as a note with

[2021-07-04 18:51] gitonthescene commented on #280
For clarity, the bookmarklet would run some js on the page and then create a redirect to the URL scheme to pass that information on.  I just made one that does something similar with [Pythonista](https://omz-software.com/pythonista/docs/ios/urlscheme.html).

[2021-07-04 20:43] webframp commented on #280
That's a great idea @gitonthescene

I hadn't thought of that before but definitely would be open to adding that feature if other users are interested in the idea

[2021-07-04 23:30] gitonthescene commented on #280
On that account is this better to raise on Gitter to gather opinions?

[2021-07-05 03:15] webframp commented on #280
Definitely worth trying, but it has been kind of quiet over there lately

[2021-07-05 03:52] gitonthescene opened #281 "Use a PEG parser?"
Okay this is a more extreme idea.  It’s probably worth bringing to the broader org community.  (Maybe [worg](https://orgmode.org/worg/)?)

[EDIT: FWIW, I tried to start a [https://lists.gnu.org/archive/html/emacs-orgmode/2021-07/msg00355.html](discussion).]

If we had a better developed [AST](https://en.m.wikipedia.org/wiki/Abstract_syntax_tree) we’d have more direct access to things like SCHEDULE

[2021-07-05 03:54] gitonthescene commented on #281
Related, I propose to start a project of org file samples which cover all the possibilities of the grammar.  The community could use it to demonstrate issues which could then be used by developers to run tests.  There are some examples out there but none quite comprehensive.

[EDIT: I've started laying out some of the [simplest examples](https://github.com/gitonthescene/org-mode-samples).]

[2021-07-05 04:00] gitonthescene commented on #281
FWIW, here’s an [overview](https://medium.com/@gvanrossum_83706/peg-parsing-series-de5d41b2ed60) from the author of Python.  There is a relatively recent [proposal](https://www.python.org/dev/peps/pep-0617/) to move Python to a PEG parser.